<style type="text/css">
    .nobmp-reporte-accordion{
        border: 0 !important;
        margin: 0 !important;
        padding: 0 !important;
    }

    .column_hide {
        display: none !important;
    }

</style>
<div class="row">	
	<div ng-class="classColumns">
	    <div class="portlet light portlet-fit ">
	        <div class="portlet-title">
	            <div class="caption">
	                <i class=" icon-layers font-green"></i>
	                <span class="caption-subject font-green bold uppercase">HISTÓRICO %MERMA</span>
	            </div>
                <select onchange="changeYears()" style="float:right; font-size:100%; width:125px" class="form-control form-filter input-sm" id="historico_years">
                    <option value="2017" selected="">2017</option>
                    <option value="2016">2016</option>
                </select>
	        </div>
	        <div class="portlet-body">
	            <div id="historico" style="height:500px;"></div>
	        </div>
	    </div>
	</div>
	<div ng-class="classColumns">
	        <div class="portlet light portlet-fit ">
	            <div class="portlet-title">
	                <div class="caption">
	                    <i class=" icon-layers font-green"></i>
	                    <span class="caption-subject font-green bold uppercase">HOY % MERMA</span>
	                </div>
	                <div ng-if="id_company == 7" class="actions">
	                    <!-- <label ng-if="id_company == 7" for=""> -->
	                        <!-- Finca :  -->
	                    <!-- </label> -->
	                    <select ng-if="id_company == 7" onchange="fincasDia()" ng-model="calidad.params.idFincaDia" style="float:right; font-size:100%; width:125px" class="form-control form-filter input-sm" id="fincas_dia">
	                        <option ng-repeat="(key, value) in fincas" value="{{key}}">{{value}}</option>
	                    </select>
	                </div>
	            </div>
	            <div class="portlet-body">
	                <div id="dia" style="height:500px;"></div>
	            </div>
	        </div>
		</div>
	</div>
<div class="row">
    <div class="col-md-6 col-sm-6">
        <div class="portlet box light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-settings"></i>LOTE</div>
                <div class="actions">
                    <div class="btn-group">
                        <a class="btn blue btn-outline btn-circle btn-sm ng-binding" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="false">     
                            Columnas <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li class="active">
                                <a ng-click="disableColumns('racimos_lote' , $event)" href="javascript:;">Muestras Totales</a>
                            </li>
                            <li class="active">
                                <a ng-click="disableColumns('racimos_lote_avg' , $event)" href="javascript:;">Muestras Prom</a>
                            </li>
                            <li class="active">
                                <a ng-click="disableColumns('total_peso' , $event)" href="javascript:;">Peso Total</a>
                            </li>
                            <li>
                                <a ng-click="disableColumns('total_peso_merma' , $event)" href="javascript:;">Peso Prom</a>
                            </li>
                            <li ng-if="inArray(id_company , companiesDefect)" class="active">
                                <a ng-click="disableColumns('total_defectos' , $event)" href="javascript:;">Dedos Total</a>
                            </li>
                            <li ng-if="inArray(id_company , companiesDefect)">
                                <a ng-click="disableColumns('total_prom' , $event)" href="javascript:;">Dedos Prom</a>
                            </li>
                            <li class="active">
                                <a ng-click="disableColumns('cajas' , $event)" href="javascript:;">Cajas</a>
                            </li>
                            <li class="active">
                                <a ng-click="disableColumns('usd' , $event)" href="javascript:;">Dólares</a>
                            </li>
                        </ul>
                        <a href="javascript:;" class="collapse" data-original-title="Expandir/Contraer" title=""> </a>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="portlet-body">
                    <div class="table-scrollable">
                        <table class="table table-striped table-bordered table-hover" id="lote_table">
                            <thead>
                                <tr style="cursor: pointer; text-align: center !important;">
                                    <th width="10%" data-field="lote" ng-click="orderByField = 'lote';reverseSort = !reverseSort" style="text-align: center;">
                                        LOTE 
                                    </th>
                                    <th width="10%" data-field="merma" ng-click="orderByField = 'merma';reverseSort = !reverseSort" style="text-align: center;"> 
                                        % MERMA 
                                    </th>
                                    <th width="10%" class="column_hide racimos_lote" ng-click="orderByField = 'racimos_lote';reverseSort = !reverseSort" style="text-align: center;"> 
                                        MUESTRAS <br> TOTALES 
                                    </th>
                                    <th width="10%" class="column_hide racimos_lote_avg" ng-click="orderByField = 'racimos_lote_avg';reverseSort = !reverseSort" style="text-align: center;"> 
                                        MUESTRAS <br> PROM 
                                    </th>
                                    <th width="10%" class="column_hide total_peso" ng-click="orderByField = 'total_peso';reverseSort = !reverseSort" style="text-align: center;"> 
                                        PESO <br> TOTAL {{labelPeso}} 
                                    </th>
                                    <th width="10%" class="total_peso_merma" ng-click="orderByField = 'total_peso_merma';reverseSort = !reverseSort" style="text-align: center;"> 
                                        PESO <br> PROM {{labelPeso}} 
                                    </th>
                                    <th ng-if="inArray(id_company , companiesDefect)" class="column_hide total_defectos"  width="10%" ng-click="orderByField = 'total_defectos';reverseSort = !reverseSort" style="text-align: center;"> 
                                        DEDOS <br> TOT
                                    </th>
                                    <th ng-if="inArray(id_company , companiesDefect)" class="total_prom"  width="10%" ng-click="orderByField = 'total_prom';reverseSort = !reverseSort" style="text-align: center;"> 
                                        DEDOS <br> PROM
                                    </th>
                                    <th class="column_hide cajas"  width="10%" ng-click="orderByField = 'cajas';reverseSort = !reverseSort" style="text-align: center;"> 
                                        CAJAS
                                    </th>
                                    <th class="column_hide usd"  width="10%" ng-click="orderByField = 'usd';reverseSort = !reverseSort" style="text-align: center;"> 
                                        DÓLARES
                                    </th>
                                </tr>
                            </thead>
<!--                             <tbody>
                                <tr style="cursor: pointer; text-align: right;" ng-repeat-start="tabla in tabla_lote_merma|orderObjectBy:orderByField:reverseSort" ng-click="openDetalle(tabla , 0 , $event)">
                                    <td style="text-align: center !important;">{{tabla.lote}}</td>
                                    <td>{{tabla.merma | number : 2 }} %</td>
                                    <td class="column_hide racimos_lote">{{tabla.racimos_lote | number : 2}}</td>
                                    <td class="column_hide racimos_lote_avg">{{tabla.racimos_lote_avg | number : 2}}</td>
                                    <td class="column_hide total_peso">{{tabla.peso_total | number : 2}}</td>
                                    <td class=" total_peso_merma">{{tabla.total_peso_merma | number : 2}}</td>
                                    <td ng-if="inArray(id_company , companiesDefect)" class="column_hide total_defectos">{{tabla.total_defectos_sum | number : 2}}</td>
                                    <td ng-if="inArray(id_company , companiesDefect)" class="total_prom">{{tabla.total_defectos | number : 2}}</td>
                                    <td class="column_hide cajas">{{tabla.cajas | number : 2 }}</td>
                                    <td class="column_hide usd">{{tabla.usd | number : 2 }}</td>
                                </tr>
                                <tr ng-show="tabla.expanded" ng-repeat-end="">
                                    <td colspan="10">
                                        <table class="table table-striped table-bordered table-hover">
                                            <tr style="cursor: pointer; text-align: right;" ng-repeat-start="category in tabla.detalle" ng-click="openDetalle(category , 1 , $event)">
                                                <td style="text-align: left !important;">{{category.type}}</td>
                                                <td class="column_merma">{{category.cantidad | number : 2 }} %</td>
                                                <td class="column_hide racimos_lote"></td>
                                                <td class="column_hide racimos_lote_avg"></td>
                                                <td class="column_hide total_peso">{{category.peso_total | number : 2 }}</td>
                                                <td class="total_peso_merma">{{category.danhos_peso | number : 2}}</td>
                                                <td ng-if="inArray(id_company , companiesDefect)" class="column_hide total_defectos">{{tabla.detalle_danhos[category.type] | number : 2}}</td>
                                                <td ng-if="inArray(id_company , companiesDefect)" class="total_prom">{{tabla.detalle_danhos_sum[category.type] | number : 2}}</td>
                                                <td class="column_hide cajas">{{category.cajas | number : 2}}</td>
                                                <td class="column_hide usd">{{category.usd | number : 2}}</td>
                                            </tr>
                                            <tr ng-show="category.expanded" ng-repeat-end="">
                                                <td colspan="10">
                                                    <table class="table table-striped table-bordered table-hover">
                                                        <tr style="cursor: pointer; text-align: right;" ng-repeat-end="category" ng-repeat="detail in category.details">
                                                            <td style="text-align: left !important;">{{detail.campo}}</td>
                                                            <td class="column_merma">{{detail.cantidad | number : 2 }} %</td>
                                                            <td class="column_hide racimos_lote">{{detail}}</td>
                                                            <td class="column_hide racimos_lote_avg">{{detail}}</td>
                                                            <td class="column_hide total_peso">{{detail}}</td>
                                                            <td class="total_peso_merma">{{detail.danhos_peso | number : 2}}</td>
                                                            <td ng-if="inArray(id_company , companiesDefect)" class="column_hide total_defectos">{{detail}}</td>
                                                            <td ng-if="inArray(id_company , companiesDefect)" class="total_prom">{{detalle.details.danhos_merma[detail.campo] | number : 2}}</td>
                                                            <td class="column_hide cajas">{{detail}}</td>
                                                            <td class="column_hide usd">{{detail}}</td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </tbody> -->
                            <tbody>
                                <tr style="cursor: pointer; text-align: right;" ng-repeat-start="tabla in tabla_lote_merma|orderObjectBy:orderByField:reverseSort" ng-click="openDetalle(tabla , 0 , $event)">
                                    <td style="text-align: center !important;">{{tabla.lote}}</td>
                                    <td>{{tabla.merma | number : 2 }} %</td>
                                    <td class="column_hide racimos_lote">{{tabla.racimos_lote | number : 2}}</td>
                                    <td class="column_hide racimos_lote_avg">{{tabla.racimos_lote_avg | number : 2}}</td>
                                    <td class="column_hide total_peso">{{tabla.peso_total | number : 2}}</td>
                                    <td class=" total_peso_merma">{{tabla.total_peso_merma | number : 2}}</td>
                                    <td ng-if="inArray(id_company , companiesDefect)" class="column_hide total_defectos">{{tabla.total_defectos_sum | number : 2}}</td>
                                    <td ng-if="inArray(id_company , companiesDefect)" class="total_prom">{{tabla.total_defectos | number : 2}}</td>
                                    <td class="column_hide cajas">{{tabla.cajas | number : 2 }}</td>
                                    <td class="column_hide usd">{{tabla.usd | number : 2 }}</td>
                                </tr>
                                <tr style="cursor: pointer; text-align: right;" id="2nivel_{{tabla.lote}}_{{category.type.replace(' ','_')}}" ng-show="tabla.expanded" ng-repeat-end="tabla" ng-repeat="category in tabla.detalle" ng-click="openDetalle(category , 1 , $event)">
                                    <td style="text-align: left !important;">{{category.type}}</td>
                                    <td class="column_merma">{{category.cantidad | number : 2 }} %</td>
                                    <td class="column_hide racimos_lote"></td>
                                    <td class="column_hide racimos_lote_avg"></td>
                                    <td class="column_hide total_peso">{{category.peso_total | number : 2 }}</td>
                                    <td class="total_peso_merma">{{category.danhos_peso | number : 2}}</td>
                                    <td ng-if="inArray(id_company , companiesDefect)" class="column_hide total_defectos">{{tabla.detalle_danhos[category.type] | number : 2}}</td>
                                    <td ng-if="inArray(id_company , companiesDefect)" class="total_prom">{{tabla.detalle_danhos_sum[category.type] | number : 2}}</td>
                                    <td class="column_hide cajas">{{category.cajas | number : 2}}</td>
                                    <td class="column_hide usd">{{category.usd | number : 2}}</td>
                                </tr>
                                <tr style="cursor: pointer; text-align: right;" ng-show="category.expanded" ng-repeat-end="category" ng-repeat-start="detail in category.details">
                                    <td style="text-align: left !important;">{{detail.campo}}</td>
                                    <td class="column_merma">{{detail.cantidad | number : 2 }} %</td>
                                    <td class="column_hide racimos_lote">{{detail}}</td>
                                    <td class="column_hide racimos_lote_avg">{{detail}}</td>
                                    <td class="column_hide total_peso">{{detail}}</td>
                                    <td class="total_peso_merma">{{detail.danhos_peso | number : 2}}</td>
                                    <td ng-if="inArray(id_company , companiesDefect)" class="column_hide total_defectos">{{detail}}</td>
                                    <td ng-if="inArray(id_company , companiesDefect)" class="total_prom">{{detalle.details.danhos_merma[detail.campo] | number : 2}}</td>
                                    <td class="column_hide cajas">{{detail}}</td>
                                    <td class="column_hide usd">{{detail}}</td>
                                </tr>
                                <!-- <tr ng-repeat-end=""></tr> -->
                            </tbody> 
                        </table>
                    </div>

                    <!-- <div class="panel-group accordion" id="accordion3"  style="margin-top: -10px; padding-top: -10px;">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion3" href="#tabla_collapse_{{tabla.id}}" aria-expanded="false"> 
                                        <table class="table" class="nobmp-reporte-accordion" style="border: 0; padding: 0; margin: 0;">
                                            <thead class="nobmp-reporte-accordion">
                                                <tr class="nobmp-reporte-accordion">
                                                    <th width="25%" style="padding-left: 10% !important" class="nobmp-reporte-accordion"> {{ tabla.lote }} </th>
                                                    <th width="25%" style="padding-left: 2% !important" class="nobmp-reporte-accordion"> {{ tabla.total_peso_merma | number:2 }} </th>
                                                    <th ng-if="inArray(id_company , companiesDefect)" width="25%" style="padding-left: 1% !important" class="nobmp-reporte-accordion"> {{ tabla.total_defectos | number:2 }} </th>
                                                    <th width="10%" style="padding-left: 1% !important" class="nobmp-reporte-accordion"> {{ tabla.merma | number:2 }} %</th>
                                                    <th width="5%" class="nobmp-reporte-accordion"> </th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </a>
                                </h4>
                            </div>
                            <div id="tabla_collapse_{{tabla.id}}" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                <div class="panel-body">
                                    <table class="table">
                                        <tr style="cursor: pointer;" >
                                            <td ng-click="orderByField2 = 'type';reverseSort2 = !reverseSort2" ><i class="fa {{(reverseSort2) ? 'fa-sort-desc' : 'fa-sort-asc'}}"></i></td>
                                            <td ng-click="orderByField2 = 'danhos_peso';reverseSort2 = !reverseSort2" ><i class="fa {{(reverseSort2) ? 'fa-sort-desc' : 'fa-sort-asc'}}"></i></td>
                                            <td ng-if="inArray(id_company , companiesDefect)" ng-click="orderByField2 = 'filter';reverseSort2 = !reverseSort2" ><i class="fa {{(reverseSort2) ? 'fa-sort-desc' : 'fa-sort-asc'}}"></i></td>
                                            <td ng-click="orderByField2 = 'cantidad';reverseSort2 = !reverseSort2" ><i class="fa {{(reverseSort2) ? 'fa-sort-desc' : 'fa-sort-asc'}}"></i></td>
                                            <td></td>
                                        </tr>
                                        <tr ng-repeat="detalle in tabla.detalle|orderObjectBy:orderByField2:reverseSort2">
                                            <td width="25%" >{{detalle.type}}</td>
                                            <td width="25%" >{{detalle.danhos_peso | number:2 }}</td>
                                            <td ng-if="inArray(id_company , companiesDefect)" width="25%" >{{ detalle.filter = tabla.detalle_danhos[detalle.type] | number:2 }}</td>
                                            <td width="25%" >{{detalle.cantidad | number:2 }} %</td>
                                            <td width="5%" ></td>
                                        </tr>
                                    </table>

                                    <div class="alert alert-danger" ng-if="tabla.lote.length == 0">
                                        <strong>Marcas: </strong> No se ha encontrado información de marcas para {{tabla.cliente_marca}}
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>

    </div>

    <!-- DAÑOS -->
    <div class="col-md-6 col-sm-6">

        <div class="portlet box light portlet-fit ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-settings"></i>DAÑOS</div>
                <div class="actions">
                    <div class="btn-group">
                        <a class="btn blue btn-outline btn-circle btn-sm ng-binding" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="false">     
                            Columnas <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li class="active">
                                <a ng-click="disableColumns('racimos_lote_danhos' , $event)" href="javascript:;">Muestras Totales</a>
                            </li>
                            <li class="active">
                                <a ng-click="disableColumns('racimos_lote_danhos_avg' , $event)" href="javascript:;">Muestras Prom</a>
                            </li>
                            <li class="active">
                                <a ng-click="disableColumns('total_peso_danhos' , $event)" href="javascript:;">Peso Total</a>
                            </li>
                            <li>
                                <a ng-click="disableColumns('total_peso_merma_danhos' , $event)" href="javascript:;">Peso Prom</a>
                            </li>
                            <li ng-if="inArray(id_company , companiesDefect)" class="active">
                                <a ng-click="disableColumns('total_defectos_danhos' , $event)" href="javascript:;">Dedos Total</a>
                            </li>
                            <li ng-if="inArray(id_company , companiesDefect)">
                                <a ng-click="disableColumns('total_prom_danhos' , $event)" href="javascript:;">Dedos Prom</a>
                            </li>
                            <li class="active">
                                <a ng-click="disableColumns('cajas_danhos' , $event)" href="javascript:;">Cajas</a>
                            </li>
                            <li class="active">
                                <a ng-click="disableColumns('usd_danhos' , $event)" href="javascript:;">Dólares</a>
                            </li>
                        </ul>
                        <a href="javascript:;" class="collapse" data-original-title="Expandir/Contraer" title=""> </a>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="portlet-body">
                     <div class="table-scrollable">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr style="cursor: pointer;">
                                    <th width="10%" ng-click="orderByField2 = 'type';reverseSort2 = !reverseSort2" style="text-align: center;">
                                        CATEGORIA 
                                    </th>
                                    <th width="10%" ng-click="orderByField2 = 'cantidad';reverseSort2 = !reverseSort2"> 
                                        % MERMA 
                                    </th>
                                    <th width="10%"  class="column_hide racimos_lote_danhos" ng-click="orderByField2 = 'racimos_lote';reverseSort2 = !reverseSort2"> 
                                        MUESTRAS TOTALES 
                                    </th>
                                    <th width="10%" class="column_hide racimos_lote_danhos_avg" ng-click="orderByField2 = 'racimos_lote_avg';reverseSort2 = !reverseSort2"> 
                                        MUESTRAS PROM 
                                    </th>
                                    <th width="10%" class="column_hide total_peso_danhos" ng-click="orderByField2 = 'total_peso';reverseSort2 = !reverseSort2"> 
                                        PESO TOTAL {{labelPeso}} 
                                    </th>
                                    <th width="10%" class="total_peso_merma_danhos" ng-click="orderByField2 = 'danhos_peso';reverseSort2 = !reverseSort2"> 
                                        PESO PROM {{labelPeso}} 
                                    </th>
                                    <th ng-if="inArray(id_company , companiesDefect)" width="10%" class="column_hide total_defectos_danhos" ng-click="orderByField2 = 'total_defectos';reverseSort2 = !reverseSort2"> 
                                        DEDOS TOT 
                                    </th>
                                    <th ng-if="inArray(id_company , companiesDefect)" width="10%" class="total_prom_danhos" ng-click="orderByField2 = 'total_prom';reverseSort2 = !reverseSort2"> 
                                        DEDOS PROM 
                                    </th>
                                    <th width="10%" class="column_hide cajas_danhos" ng-click="orderByField2 = 'cajas';reverseSort2 = !reverseSort2"> 
                                        CAJAS
                                    </th>
                                    <th width="10%" class="column_hide usd_danhos" ng-click="orderByField2 = 'usd';reverseSort2 = !reverseSort2"> 
                                        DÓLARES
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="cursor: pointer; text-align: right;" ng-repeat-start="tabla in tabla_danos_merma|orderObjectBy:orderByField2:reverseSort2" ng-click="openDetalle(tabla , 0 , $event)">
                                    <td style="text-align: left !important;">{{tabla.type}}</td>
                                    <td>{{tabla.cantidad | number : 2 }} %</td>
                                    <td class="column_hide racimos_lote_danhos">{{tabla.racimos_lote | number : 2}}</td>
                                    <td class="column_hide racimos_lote_danhos_avg">{{tabla.racimos_lote_avg | number : 2}}</td>
                                    <td class="column_hide total_peso_danhos">{{tabla.peso_total | number : 2}}</td>
                                    <td class="total_peso_merma_danhos">{{tabla.danhos_peso | number : 2}}</td>
                                    <td ng-if="inArray(id_company , companiesDefect)" class="column_hide total_defectos_danhos">{{tabla.total_defectos_sum | number : 2}}</td>
                                    <td ng-if="inArray(id_company , companiesDefect)" class="total_prom_danhos">{{tabla_danos_merma_danhos_merma[tabla.type] | number : 2}}</td>
                                    <td class="column_hide cajas_danhos">{{tabla.cajas | number : 2 }}</td>
                                    <td class="column_hide usd_danhos">{{tabla.usd | number : 2 }}</td>
                                </tr>
                                <tr style="cursor: pointer; text-align: right;" id="2nivel_{{tabla.lote}}_{{category.type}}" ng-show="tabla.expanded" ng-repeat-end="tabla" ng-repeat="category in tabla.detalle" ng-click="openDetalle(category , 1 , $event)">
                                    <td style="text-align: left !important;">{{category.campo}}</td>
                                    <td>{{category.cantidad | number : 2 }} %</td>
                                    <td class="column_hide racimos_lote_danhos"></td>
                                    <td class="column_hide racimos_lote_danhos_avg"></td>
                                    <td class="column_hide total_peso_danhos">{{category.peso_total | number : 2 }}</td>
                                    <td class="total_peso_merma_danhos">{{category.danhos_peso | number : 2}}</td>
                                    <td ng-if="inArray(id_company , companiesDefect)" class="column_hide total_defectos_danhos">{{tabla.detalle_danhos[category.campo + " (# Daños)"] | number : 2}}</td>
                                    <td ng-if="inArray(id_company , companiesDefect)" class="total_prom_danhos">{{tabla.detalle_danhos_sum[category.campo + " (# Daños)"] | number : 2}}</td>
                                    <td class="column_hide cajas_danhos">{{category.cajas | number : 2}}</td>
                                    <td class="column_hide usd_danhos">{{category.usd | number : 2}}</td>
                                </tr>
                                <!-- <tr style="cursor: pointer; text-align: right;" ng-show="category.expanded" ng-repeat-end="" ng-repeat-start="detail in category.details">
                                    <td>{{detail.campo}}</td>
                                    <td>{{detail.cantidad | number : 2 }} %</td>
                                    <td>{{detail}}</td>
                                    <td>{{detail}}</td>
                                    <td>{{detail}}</td>
                                    <td>{{detail.danhos_peso | number : 2}}</td>
                                    <td>{{detail}}</td>
                                    <td>{{detalle.details.danhos_merma[detail.campo] | number : 2}}</td>
                                    <td>{{detail}}</td>
                                    <td>{{detail}}</td>
                                </tr> -->
                                <!-- <tr ng-repeat-end=""></tr> -->
                            </tbody>
                        </table>
                    </div>
                   <!--  <table class="table table-striped table-hover">
                        <thead>
                            <tr style="cursor: pointer;">
                                <th ng-click="orderByField3 = 'type';reverseSort3 = !reverseSort3" width="35%"> CATEGORIAS </th>
                                <th ng-click="orderByField3 = 'danhos_peso';reverseSort3 = !reverseSort3" width="20%"> PESO {{labelPeso}} </th>
                                <th ng-if="inArray(id_company , companiesDefect)" ng-click="orderByField3 = 'filter';reverseSort3 = !reverseSort3" width="20%"> # DAÑOS </th>
                                <th ng-click="orderByField3 = 'cantidad';reverseSort3 = !reverseSort3" width="20%"> % MERMA </th>
                                <th width="20%"> </th>
                                <th width="5%">&nbsp;</th>
                            </tr>
                        </thead>
                    </table>


                    <div class="panel-group accordion" id="accordion4" ng-repeat="tabla in tabla_danos_merma|orderObjectBy:orderByField3:reverseSort3" style="margin-top: -10px; padding-top: -10px;">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion4" href="#tabla_collapse_danos_{{$index}}" aria-expanded="false"> 
                                        <table class="table" class="nobmp-reporte-accordion" style="border: 0; padding: 0; margin: 0;">
                                            <thead class="nobmp-reporte-accordion">
                                                <tr class="nobmp-reporte-accordion">
                                                    <th width="36%" class="nobmp-reporte-accordion"> {{ tabla.type }} </th>
                                                    <th width="22%" class="nobmp-reporte-accordion"> {{ tabla.danhos_peso  | number:2 }} </th>
                                                    <th ng-if="inArray(id_company , companiesDefect)" width="22%" class="nobmp-reporte-accordion"> {{ tabla.filter = tabla_danos_merma_danhos_merma[tabla.type]  | number:2 }} </th>
                                                    <th width="22%" class="nobmp-reporte-accordion"> {{ tabla.cantidad  | number:2 }} %</th>
                                                    <th width="18%" class="nobmp-reporte-accordion"> </th>
                                                </tr>
                                        </thead>
                                        </table>
                                    </a>
                                </h4>
                            </div>
                            <div id="tabla_collapse_danos_{{$index}}" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                <div class="panel-body">
                                    <table class="table">
                                        <tr style="cursor: pointer;" >
                                            <td ng-click="orderByField4 = 'campo';reverseSort4 = !reverseSort4" ><i class="fa {{(reverseSort4) ? 'fa-sort-desc' : 'fa-sort-asc'}}"></i></td>
                                            <td ng-click="orderByField4 = 'danhos_peso';reverseSort4 = !reverseSort4" ><i class="fa {{(reverseSort4) ? 'fa-sort-desc' : 'fa-sort-asc'}}"></i></td>
                                            <td ng-if="inArray(id_company , companiesDefect)" ng-click="orderByField4 = 'filter';reverseSort4 = !reverseSort4" ><i class="fa {{(reverseSort4) ? 'fa-sort-desc' : 'fa-sort-asc'}}"></i></td>
                                            <td ng-click="orderByField4 = 'cantidad';reverseSort4 = !reverseSort4" ><i class="fa {{(reverseSort4) ? 'fa-sort-desc' : 'fa-sort-asc'}}"></i></td>
                                            <td></td>
                                        </tr>
                                        <tr ng-repeat="detalle in tabla.detalle|orderObjectBy:orderByField4:reverseSort4">
                                            <td width="36%">{{detalle.campo}}</td>
                                            <td width="22%">{{detalle.danhos_peso | number:2 }}</td>
                                            <td ng-if="inArray(id_company , companiesDefect) && id_company == 2" width="22%">{{detalle.filter = tabla.detalle_danhos[detalle.campo.replace("Peso " , "")] | number:2 }}</td>
                                            <td ng-if="inArray(id_company , companiesDefect)  && id_company == 7" width="22%">{{detalle.filter = tabla.detalle_danhos[detalle.campo + " (# Daños)"] | number:2 }}</td>
                                            <td width="22%">{{detalle.cantidad | number:2 }} %</td>
                                            <td></td>
                                        </tr>
                                    </table>

                                    <div class="alert alert-danger" ng-if="tabla.marcas.length == 0">
                                        <strong>Marcas: </strong> No se ha encontrado información de marcas para {{tabla.cliente_marca}}
                                    </div>

                                </div>
                            </div>
                        </div>
                        
                    </div> -->
                </div>
            </div>
        </div>

    </div>

</div>

<div class="row">
    <div class="col-md-6 col-sm-6">
      <div class="portlet light portlet-fit bordered">
          <div class="portlet-title">
              <div class="caption">
                  <span class="caption-subject font-dark sbold uppercase">
                      <h3>
                         DAÑOS GENERALES
                      </h3>
                  </span>
              </div>
          </div>
          <div class="portlet-body">
              <div id="echarts_generales" style="height:450px;"></div>
          </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-6">
      <div class="portlet light portlet-fit bordered">
            <div class="portlet-title tabbable-line">
                <div class="caption">
                    <i class="icon-share font-dark"></i>
                    <span class="caption-subject font-dark bold uppercase">Detalle de Daños</span>
                </div>
				<select onchange="cambiarDanosDetalle()" style="float:right; font-size:100%; width:125px" class="form-control form-filter input-sm" id="detalles_danhos">
					<option value="ENFUNDE">Enf % Prot</option>
					<option value="CAMPO">Campo</option>
					<option value="COSECHA">Cosecha</option>
					<option value="HONGOS">Hongos</option>
					<option value="ANIMALES">Animales</option>
					<option value="EMPACADORA">Empacadora</option>
					<option value="FISIOLOGICOS">Fisiologicas</option>
				</select>
            </div>
          <div class="portlet-body">
            <div id="echarts_generales_detalles" style="height:450px;"></div>
          </div>
      </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-settings"></i>TENDENCIA</div>
                <div class="tools">
                    <a href="javascript:;" class="collapse" data-original-title="Expandir/Contraer" title=""> </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="portlet-body">
                    <div id="tendencia" style="height:500px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>