<form id="form-datos" role="form" method="post" class="form-horizontal form-row-seperated">
    <div ng-init="init()">
        <fieldset class="scheduler-border">
            <legend class="scheduler-border" style="padding-left: 5px;">
                Datos del registro
            </legend>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-4 control-label" for="name">Código <!--<span class="required" aria-required="true"> * </span>--></label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" disabled ng-model="datos.codigo" id="codigo" placeholder="Escribir Código">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="name">Nombre Comercial <span class="required" aria-required="true"> * </span></label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="datos.nombre_local" id="nombre_local" placeholder="Escribir Nombre del Local">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="remitente">Nombre del Propetario </label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="datos.nombre_propietario" id="nombre_propietario" placeholder="Escribir Nombre del Propetario">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="remitentePuesto">Dirección <small class="color-gray"></small><span class="required" aria-required="true"> * </span></label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="datos.direccion" id="direccion" placeholder="Escribir Nombre del Local">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="copia">Status <small class="color-gray"></small><span class="required" aria-required="true"> * </span></label>
                    <div class="col-md-8">
                        <select class="form-control" id="status" name="status" ng-model="datos.status">
                            <option value="">Sin status</option>
                            <option value="Cliente">Cliente</option>
                            <option value="Prospecto">Prospecto</option>
                            <option value="No Activo">No Activo</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="remitentePuesto">Sector <small class="color-gray"></small><span class="required" aria-required="true"> * </span></label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="datos.sector" id="sector" placeholder="Escribir Sector">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="remitentePuesto">Tendero <small class="color-gray"></small></label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="datos.tendero" id="tendero" placeholder="Escribir Tendero">
                    </div>
                </div>
            </div>
            <div class="col-md-6">  
                <div class="form-group">
                    <label class="col-md-4 control-label" for="generoEmpresa">Tipo de Local / Categoria<small class="color-gray"></small> <span class="required" aria-required="true"> * </span></label>
                    <div class="col-md-8">
                        <select class="form-control" id="tipo_local" name="tipo_local" ng-model="datos.id_tipo_local_categoria">
                            <option value="{{ id_categoria }}" ng-repeat="(id_categoria, categoria) in categorias">{{ categoria }}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="generoEmpresa">Tipo de Local / Subcategoria <small class="color-gray"></small> <span class="required" aria-required="true"> * </span></label>
                    <div class="col-md-8">
                        <select class="form-control" id="tipo_local" name="tipo_local" ng-model="datos.id_tipo_local_subcategoria">
                            <option value="{{sub.id}}" ng-selected="sub.id == datos.id_tipo_local_subcategoria" ng-repeat="sub in subcategorias | filter : { id_categoria : datos.id_tipo_local_categoria } : 'strict'">{{sub.nombre}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="ciudad">RUC <small class="color-gray"></small> <span class="required" aria-required="true"> * </span></label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="datos.ruc" id="ruc" placeholder="Escribir RUC">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="copia">Referencia <small class="color-gray"></small><span class="required" aria-required="true"> * </span></label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="datos.referencia" id="referencia" placeholder="Escribir Referencia">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="copia">Teléfono <small class="color-gray"></small><span class="required" aria-required="true"> * </span></label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="telefono" name="telefono" ng-model="datos.telefono" placeholder="Telefono">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="copia">Correo <small class="color-gray"></small><span class="required" aria-required="true"> * </span></label>
                    <div class="col-md-8">
                        <input type="email" class="form-control" id="correo" min="0" name="correo" ng-model="datos.correo" placeholder="Correo">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="copia">Ruta <small class="color-gray"></small><span class="required" aria-required="true"> * </span></label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" value="{{datos.ruta}}" readonly>
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="form-actions">
            <div class="row">
                <div class="col-md-8">
                    <button type="submit" class="btn green" ng-click="save()">Guardar</button>
                    <button type="button" class="btn default" ng-click="cancel()">Cancelar</button>
                </div>
                <div class="col-md-4">
                    <button type="button" class="btn green-dark"  data-original-title="Agregar Ruta" data-toggle="modal" data-target="#ruta-modal">Ruta - Vendedor</button>
                </div>
            </div>
        </div>
    </div>
    <div id="vendedor-modal" class="modal fade" tabindex="-1" data-width="400">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Vendedor</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Vendedor</h4>
                            <p>
                                <input type="text" class="col-md-12 form-control" id="vendedor" name="vendedor" ng-model="modal.vendedor.vendedor"> </p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn dark btn-outline">Cancelar</button>
                    <button type="button" ng-click="modal.vendedor.save()" class="btn red">Guardar</button>
                </div>
            </div>
        </div>
    </div>
    <div id="ruta-modal" class="modal fade" tabindex="-1" data-width="400">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Ruta</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Ruta</h4>
                            <p>
                                <select class="form-control" id="rutas" name="rutas" ng-model="datos.id_ruta" ng-change="changeRutaSelected()">
                                    <option value="{{ruta.id}}" index="{{$index}}" ng-repeat="ruta in rutas">{{ruta.label}}</option>
                                </select>
                            <h4>Vendedor</h4>
                            <p>
                                <select class="form-control" id="vendedores" name="vendedores" ng-model="datos.id_vendedor">
                                    <option value="{{ven.id}}" ng-repeat="ven in modal.selected_ruta.vendedores">{{ven.nombre}}</option>
                                </select>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn dark btn-outline">Cancelar</button>
                    <button type="button" ng-click="modal.vendedor.save()" class="btn red">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</form>