<style type="text/css">
    .nobmp-reporte-accordion{
        border: 0 !important;
        margin: 0 !important;
        padding: 0 !important;
    }
    .portlet.box .dataTables_wrapper .dt-buttons{
        margin-top: 0px !important; 
    }
</style>
<div class="row">
    <div class="col-md-12 col-sm-12">

        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-settings"></i>PERSONAL</div>
                <div class="tools">
                    <a href="javascript:;" class="collapse" data-original-title="Expandir/Contraer" title=""> </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="portlet-body">
                    <div class="table-container">
                        <div class="table-actions-wrapper">
                        </div>
                       <table class="table table-striped table-hover table-bordered" id="sample_editable_1">
                            <thead>
                                <tr>
                                    <th width="6.6%">N</th>
                                    <th width="6.6%">NOMBRES</th>
                                    <th width="6.6%">L - {{dia_semana["L1"]}}</th>
                                    <th width="6.6%">M - {{dia_semana["M1"]}}</th>
                                    <th width="6.6%">M - {{dia_semana["MI1"]}}</th>
                                    <th width="6.6%">J - {{dia_semana["J1"]}}</th>
                                    <th width="6.6%">V - {{dia_semana["V1"]}}</th>
                                    <th width="6.6%">L - {{dia_semana["L2"]}}</th>
                                    <th width="6.6%">M - {{dia_semana["M2"]}}</th>
                                    <th width="6.6%">M - {{dia_semana["MI2"]}}</th>
                                    <th width="6.6%">J - {{dia_semana["J2"]}}</th>
                                    <th width="6.6%">V - {{dia_semana["V2"]}}</th>
                                    <th width="6.6%">TOTAL HORAS</th>
                                    <th width="6.6%"></th>
                                    <th width="6.6%"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="detalle in tabla.detalle">
                                    <td width="6.6%" >{{(detalle.id)}}</td>
                                    <td width="6.6%" >{{detalle.nombre}}</td>
                                    <td width="6.6%" ><span class="{{(detalle.L1 > 8) ? 'badge badge-danger' : ''}}">{{detalle.L1}}</span></td>
                                    <td width="6.6%" ><span class="{{(detalle.M1 > 8) ? 'badge badge-danger' : ''}}">{{detalle.M1}}</span></td>
                                    <td width="6.6%" ><span class="{{(detalle.MI1 > 8) ? 'badge badge-danger' : ''}}">{{detalle.MI1}}</span></td>
                                    <td width="6.6%" ><span class="{{(detalle.J1 > 8) ? 'badge badge-danger' : ''}}">{{detalle.J1}}</span></td>
                                    <td width="6.6%" ><span class="{{(detalle.V1 > 8) ? 'badge badge-danger' : ''}}">{{detalle.V1}}</span></td>
                                    <td width="6.6%" ><span class="{{(detalle.L2 > 8) ? 'badge badge-danger' : ''}}">{{detalle.L2}}</span></td>
                                    <td width="6.6%" ><span class="{{(detalle.M2 > 8) ? 'badge badge-danger' : ''}}">{{detalle.M2}}</span></td>
                                    <td width="6.6%" ><span class="{{(detalle.MI2 > 8) ? 'badge badge-danger' : ''}}">{{detalle.MI2}}</span></td>
                                    <td width="6.6%" ><span class="{{(detalle.J2 > 8) ? 'badge badge-danger' : ''}}">{{detalle.J2}}</span></td>
                                    <td width="6.6%" ><span class="{{(detalle.V2 > 8) ? 'badge badge-danger' : ''}}">{{detalle.V2}}</span></td>
                                    <td width="6.6%" >{{detalle.total}}</td>
                                    <td width="6.6%" >
                                        <a class="edit" href="javascript:;"> Editar </a>
                                    </td>
                                    <td width="6.6%" >
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>