<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="center-th" ng-click="setOrderTable('id')">ID</th>
                            <th class="center-th" ng-click="setOrderTable('hora')">HORA</th>
                            <th class="center-th" ng-click="setOrderTable('peso')">PESO (LB)</th>
                            <th class="center-th" ng-click="setOrderTable('tipo')">TIPO</th>
                            <th class="center-th" style="min-width: 135px;" ng-click="setOrderTable('marca')">MARCA</th>
                            <th ng-if="editando">ACCIONES</th>
                        </tr>
                        <tr role="row" class="filter">
                            <td><input type="text" class="form-control form-filter" ng-model="table.search.id"/></td>
                            <td><input type="text" class="form-control form-filter" ng-model="table.search.hora"/></td>
                            <td><input type="text" class="form-control form-filter" ng-model="table.search.peso"/></td>
                            <td><input type="text" class="form-control form-filter" ng-model="table.search.tipo"/></td>
                            <td><input type="text" class="form-control form-filter" ng-model="table.search.marca"/></td>
                            <td ng-if="editando"></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr 
                            ng-class="{'bg-red-sunglo' : row.peso_corregido == 1, 'delete' : row.delete}"
                            ng-dblclick="editar(row, $index)" 
                            data-id="{{row.id}}" 
                            data-marca="{{row.marca}}" 
                            data-index="{{$index}}"
                            ng-repeat="row in resultValue = (editando) ? resultValue : (registros | filter: table.search | orderObjectBy : searchTable.orderBy : searchTable.reverse | startFrom: searchTable.startFrom | limitTo : searchTable.limit)">

                            <td><input type="checkbox" ng-model="row.delete" /> {{ row.id }}</td>
                            <td>{{ row.hora }}</td>
                            <td class="{{ getClassUmbral(row) }}">
                                <span ng-show="!row.edit">{{ row.peso | number: 2 }}</span>
                                <input ng-show="row.edit" type="number" ng-model="row.peso" value="{{row.peso}}" class="form-control" step="0.01"/>
                            </td>
                            <td>{{ row.tipo }}</td>
                            <td>
                                <span ng-if="!row.edit" data-id_marca="{{ row.id_marca }}">{{ row.marca }}</span>
                                <select ng-if="row.edit" ng-model="row.id_marca" class="form-control">
                                    <option value="SIN MARCA" ng-selected="row.marca == 'SIN MARCA'">SIN MARCA</option>
                                    <option value="{{marca.id}}" ng-repeat="marca in marcas" ng-selected="row.id_marca == marca.id">{{ marca.nombre_alias != '' ? marca.nombre_alias : marca.nombre }}</option>
                                </select>
                            </td>
                            <td ng-if="editando">
                                <a ng-if="row.edit" class="btn green-haze" ng-click="guardar(row, $index)">Guardar <i class="fa fa-save"></i></i></a>
                                <a ng-if="row.edit" class="btn default" ng-click="cancelar(row, $index)">Cancelar <i class="fa fa-times-circle"></i></i></a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="{{ editando ? 10 : 9 }}">
                                <div class="col-md-5 col-sm-12">
                                    Página {{ searchTable.actual_page }} de {{ searchTable.numPages }}
                                </div>
                                <div class="col-md-7 col-sm-12">
                                    <div class="pull-left">
                                        <a class="btn btn-sm default prev" ng-click="prev(registros)"><</a>
                                        <input type="text" maxlength="5" class="pagination-panel-input form-control input-sm input-inline input-mini" value="{{searchTable.actual_page}}" readonly/>
                                        <a class="btn btn-sm default next" ng-click="next(registros)">></a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
        </div>

        <div class="hide">
            <table id="table_1">
                <thead>
                    <tr>
                        <th class="center-th">ID</th>
                        <th class="center-th">HORA</th>
                        <th class="center-th">PESO</th>
                        <th class="center-th">TIPO</th>
                        <th class="center-th" style="min-width: 135px;">MARCA</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-class="{'bg-red-sunglo' : row.peso_corregido == 1}" ng-repeat="row in resultValue = (editando) ? resultValue : (registros | filter: table.search | orderObjectBy : searchTable.orderBy : searchTable.reverse | startFrom: searchTable.startFrom | limitTo : searchTable.limit)">
                        <td>{{ row.id }}</td>
                        <td>{{ row.hora }}</td>
                        <td class="{{ getClassUmbral(row) }}">
                            <span>{{ row.peso | number: 2 }}</span>
                        </td>
                        <td>{{ row.tipo }}</td>
                        <td><span>{{ row.marca }}</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>