<div class="row">
    <div class="col-md-12">
        <div class="tab-pane" id="tab_1">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-gift"></i>AGREGAR NUEVO USUARIO</div>
                </div>
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <form action="#" class="horizontal-form" id="formcli" method="post">
                        <div class="form-actions right">
                            <button type="button" class="btn default cancel">Cancelar</button>
                            <button type="button" class="btn blue btnadd" >
                                <i class="fa fa-check"></i>Registrar</button>
                        </div>
                        <div class="form-body">
                            <h3 class="form-section">INFORMACIÓN DEL USUARIO</h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Nombre</label>
                                        <input type="text" value="" ng-model="ficha.nombre" id="nombre" class="form-control">
                                    </div>
                                </div>
                                <!--/span-->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Apellidos</label>
                                        <input type="text" value="" ng-model="ficha.apellido" id="apellido" class="form-control">
                                    </div>
                                </div>
                                <!--/span-->
                            </div>
                            <!--/row-->
                            <div class="row">
                                <!--/span-->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Fecha Inico de Ciclo</label>
                                        <div class="input-group date date-picker margin-bottom-5" data-date-format="yyyy-mm-dd">
                                            <input type="text"  ng-model="ficha.fecha_start"class="form-control form-filter input-sm" readonly name="fecha" placeholder="From">
                                            <span class="input-group-btn">
                                                <button class="btn btn-sm default" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Fecha Fecha fin de Ciclo</label>
                                        <div class="input-group date date-picker margin-bottom-5" data-date-format="yyyy-mm-dd">
                                            <input type="text"  ng-model="ficha.fecha_end"class="form-control form-filter input-sm" readonly name="fecha" placeholder="From">
                                            <span class="input-group-btn">
                                                <button class="btn btn-sm default" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <!--/span-->
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Email</label>
                                        <input type="text" ng-model="ficha.email" value="" id="email" class="form-control">
                                    </div>
                                </div>
                                <!--/span-->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Numero de Telefono</label>
                                        <input type="text" ng-model="ficha.movil" value="" id="movil" class="form-control">
                                    </div>
                                </div>
                                <!--/span-->
                            </div>
                            <!--/row-->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Usuario</label>
                                        <input type="text" ng-model="ficha.usuario" value="" id="sexo" class="form-control">
                                    </div>
                                </div>
                                <!--/span-->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Contraseña</label>
                                        <input type="text" value="" ng-model="ficha.pass" id="edad" class="form-control">
                                    </div>
                                </div>
                                <!--/span-->
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Prontoforms</label>
                                        <input type="text" value="" ng-model="ficha.idProntoforms" id="idProntoforms" class="form-control">
                                    </div>
                                </div>
                                <!--/span-->
                            </div>
                            <!--/row-->
                            <h3 class="form-section">PERMISOS</h3>
                            <div class="row">
                                <div class="col-md-8" ng-repeat="(key , value) in dataset">
                                    <div class="portlet box blue">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <i class="icon-settings font-white-sunglo"></i> {{key}}</div>
                                            <div class="tools">
                                                <a href="" class="collapse" data-original-title="" title=""> </a>
                                            </div>
                                        </div>
                                        <div class="portlet-body portlet-collapsed form" >
                                            <form class="form-horizontal" role="form">
                                                <div class="form-body">
                                                    <div ng-repeat="(llave , valor) in value" class="form-group">
                                                        <label class="control-label">
                                                             Modulo {{valor.description}}
                                                        </label>
                                                        <select name="{{valor.description}}" class="form-control" id="{{valor.description}}">
                                                            <option ng-repeat="data in valor.value" value="{{data}}">{{data}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions right">
                            <button type="button" class="btn default cancel">Cancelar</button>
                            <button type="button" class="btn blue btnadd" >
                                <i class="fa fa-check"></i>Registrar</button>
                        </div>
                    </form>
                    <!-- END FORM-->
                </div>
            </div>
        </div>
    </div>
</div>