         <!-- END DASHBOARD STATS 1-->
      <div class="row">
         <div class="col-md-12">
             <div class="portlet light portlet-fit ">
                 <div class="portlet-title">
                     <div class="caption">
                         <i class=" icon-layers font-green"></i>
                         <span class="caption-subject font-green bold uppercase">Finca</span>
                     </div>
                    <div class="actions">
                        <div class="btn-group btn-group-devided" data-toggle="buttons">
                            <label class="btn red btn-outline btn-circle btn-sm active" ng-click="clearCache('mes')">
                            <input type="radio" name="options" class="toggle" id="option1">Mes</label>
                            <label class="btn red btn-outline btn-circle btn-sm" ng-click="clearCache('semana')">
                            <input type="radio" name="options" class="toggle" id="option2">Semana</label>
                             <label ng-hide="id_company == 3" class="btn red btn-outline btn-circle btn-sm" ng-click="clearCache('auditoria')">
                            <input type="radio" name="options" class="toggle" id="option2">Auditoria</label>
                        </div>
                    </div>
                 </div>
                 <div class="portlet-body">
                     <div id="echarts_bar" style="height:500px;"></div>
                 </div>
             </div>
         </div>
     </div> 
          <div class="row">
              <div class="col-md-6 col-sm-6">
                  <!-- BEGIN PORTLET-->
                  <div class="portlet light portlet-fit bordered" id="lotes_table">
                      <div class="portlet-title">
                          <div class="caption">
                              <span class="caption-subject font-dark sbold uppercase">
                                  <h3>
                                      LOTES
                                  </h3>
                              </span>
                          </div>
                            <div class="actions" ng-show="id_company == 1">
                                <div class="btn-group btn-group-devided" data-toggle="buttons">
                                    <label class="btn blue btn-outline btn-circle btn-sm" ng-click="exportToPdf('#lotes_table')">
                                    <input type="radio" name="options" class="toggle" id="option1">PDF</label>
                                    <label class="btn red btn-outline btn-circle btn-sm" ng-click="exportToExcel('#lotes')">
                                    <input type="radio" name="options" class="toggle" id="option2">EXCEL</label>
                                     <label class="btn red btn-outline btn-circle btn-sm" ng-click="">
                                    <input type="radio" name="options" class="toggle" id="option2">Auditoria</label>
                                </div>
                            </div>
                      </div>
                      <div class="portlet-body">
                         <table class="table table-hover table-light" id="lotes" style="width: 100%;">
                             <tr>
                                 <td><a ng-click="orderByField = 'lote';reverseSort = !reverseSort">LOTE</a></td>
                                 <td ng-if="id_company != 7"><a ng-click="orderByField = 'personal';reverseSort = !reverseSort">PERSONA</a></td>
                                 <td><a ng-click="orderByField = 'promedio';reverseSort = !reverseSort">%</a></td>
                                 <td class="not-export"></td>
                             </tr>
                             <tr ng-repeat="data in wizardData.data.lote|orderObjectBy:orderByField:reverseSort">
                                    <td>{{ data.lote}}</td>
                                    <td ng-if="id_company != 7">{{ data.personal }} <br> {{data.personal2}}</td>
                                    <td class="text-algin">{{ data.promedio | number : 2}} <i class="{{ checks(data.promedio) }}"></i></td>
                                    <td class="not-export text-algin"><button ng-click="changeStep(3 , data.idZona, data.idFinca , data.idLote, 0)" class="btn green-jungle">Labores</button></td>
                             </tr>
                         </table>
                      </div>
                  </div>
                  <!-- END PORTLET-->
              </div>
              <div class="col-md-6 col-sm-6">
                  <!-- BEGIN PORTLET-->
                  <div class="portlet light portlet-fit bordered">
                      <div class="portlet-title">
                          <div class="caption">
                              <span class="caption-subject font-dark sbold uppercase">
                                  <h3>
                                      LABORES
                                  </h3>
                              </span>
                          </div>
                      </div>
                      <div class="portlet-body">
                        <div class="panel-group accordion" id="accordion1">
                            <div class="panel panel-default" ng-repeat="(key , value) in wizardData.data_labores">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#collapse_{{$index}}" href="#collapse_{{$index}}" aria-expanded="{{($index == 0)?true:false}}"> {{key}} <span ng-hide="id_company == 7" style="float: right;" class="pull-rigth">{{wizardData.type_labor[key] | number : 2}} % <i class="{{ checks(getAvgTotals(wizardData.type_labor[key])) }}"></i></span></a>
                                    </h4>
                                </div>
                                <div id="collapse_{{$index}}" class="panel-collapse {{($index == 0)?'in':'collapsed collapse'}}" aria-expanded="{{($index == 0)?true:false}}">
                                    <div class="panel-body">
                                        <table class="table table-hover table-light">
                                            <tr>
                                                <td><a ng-click="orderByField2 = 'labor';reverseSort2 = !reverseSort2">LABOR</a></td>
                                                <td><a ng-click="orderByField2 = 'promedio';reverseSort2 = !reverseSort2">%</a></td>
                                                <td></td>
                                            </tr>
                                            <tr ng-repeat="data in value|orderObjectBy:orderByField2:reverseSort2">
                                                <td>{{data.labor}}</td>
                                                <td class="text-algin">{{ data.promedio | number : 2}} <i class="{{ checks(data.promedio) }}"></i></td>
                                                <td class="text-algin"><button ng-if="id_company != 7" ng-click="changeStep(4 , data.idZona, data.idfinca , data.idLote , data.idLabor , data.idLabor , data.idZona , data.idfinca)" class="btn green-jungle">Causas</button></td>
                                            </tr>
                                         </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>
                  </div>
                  <!-- END PORTLET-->
              </div>
          </div>
          <div class="row">
             <div class="col-md-12 col-sm-12">
               <div class="portlet light portlet-fit bordered">
                      <div class="portlet-title">
                          <div class="caption">
                              <span class="caption-subject font-dark sbold uppercase">
                                  <h3>
                                     LOTES
                                  </h3>
                              </span>
                          </div>
                      </div>
                      <div class="portlet-body">
                          <div id="echarts_bar_lotes" style="height:300px;"></div>
                      </div>
                  </div>
             </div>
            </div>
            <div class="row">
               <div class="col-md-12 col-sm-12">
                  <!-- BEGIN PORTLET-->
                  <div class="portlet light portlet-fit bordered">
                      <div class="portlet-title">
                          <div class="caption">
                              <span class="caption-subject font-dark sbold uppercase">
                                  <h3>
                                     LABORES
                                  </h3>
                              </span>
                          </div>
                      </div>
                      <div class="portlet-body">
                          <div id="echarts_bar_labores" style="height:300px;"></div>
                      </div>
                  </div>
                  <!-- END PORTLET-->
              </div>
          </div>
          <div class="row" ng-show="id_company != 7">
              <div class="col-md-12 col-sm-12">
                  <div class="portlet light portlet-fit bordered">
                      <div class="portlet-title">
                          <div class="caption">
                              <span class="caption-subject font-dark sbold uppercase">
                                  <h3>
                                     SUPERVISORES
                                  </h3>
                              </span>
                          </div>
                      </div>
                      <div class="portlet-body">
                          <div id="echarts_bar_supervisor" style="height:300px;"></div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- END DASHBOARD STATS 1-->
          <div class="row">
              <div class="col-md-12 col-sm-6">
                  <!-- BEGIN PORTLET-->
                  <div class="portlet light portlet-fit bordered">
                      <div class="portlet-title">
                          <div class="caption">
                              <span class="caption-subject font-dark sbold uppercase">
                                  <h3>
                                     LOTES - LABORES
                                  </h3>
                              </span>
                          </div>
                      </div>
                      <div class="portlet-body">
                        <diiv class="table-responsive">
                           <table class="table table-hover table-light">
                           <thead>
                               <tr>
                                      <td style="text-align: center"><a ng-click="orderByField5 = 'lote';reverseSort5 = !reverseSort5">LOTE</a></td>
                                      <td style="text-align: center" ng-repeat="(key, value) in wizardData.filterLabores" ng-click="orderByField5 = '{{key}}';reverseSort5 = !reverseSort5"><a>{{key}}</a></td>
                                      <!-- <td><a ng-click="orderByField5 = 'apun';reverseSort5 = !reverseSort5">APUNTALAMIENTO</a></td>
                                      <td><a ng-click="orderByField5 = 'desfi';reverseSort5 = !reverseSort5">DESHOJE FITO</a></td>
                                      <td><a ng-click="orderByField5 = 'deshi';reverseSort5 = !reverseSort5">DESVÍO DE HIJOS</a></td>
                                      <td><a ng-click="orderByField5 = 'enfunde';reverseSort5 = !reverseSort5">ENFUNDE</a></td>
                                      <td><a ng-click="orderByField5 = 'proteccion';reverseSort5 = !reverseSort5">PROTECCIÓN</a></td>
                                      <td><a ng-click="orderByField5 = 'control';reverseSort5 = !reverseSort5">CONTROL DE MALEZAS</a></td>
                                      <td><a ng-click="orderByField5 = 'deshoje';reverseSort5 = !reverseSort5">DESHOJE</a></td>
                                      <td><a ng-click="orderByField5 = 'drenajes';reverseSort5 = !reverseSort5">DRENAJES</a></td>
                                      <td><a ng-click="orderByField5 = 'limpiador';reverseSort5 = !reverseSort5">LIMPIADOR</a></td> -->
                                </tr>
                           </thead>
                            <tbody>
                                 <tr ng-repeat="data in wizardData.data_labores_lotes|orderObjectBy2:orderByField5:reverseSort5">
                                        <td style="text-align: left">{{ data.nombre }}</td>
                                        <td style="text-align: center" ng-repeat="(key, valor) in data.labores">
                                          <!-- {{ data.key = valor.value | number : 2}}<i class="{{ checks2(valor.value) }}"></i> -->
                                          {{valor.value | number : 2}}<i class="{{ (valor.value > 0) ? checks2(valor.value) : '' }}"></i>
                                        </td>
                                        <!-- <td style="text-align: right">{{ data.apun = data.labores['APUNTALAMIENTO'] | number : 2}}<i class="{{ checks2(data.apun) }}"></i></td>
                                        <td style="text-align: right" >{{ data.desfi = data.labores['DESHOJE FITO'] | number : 2}}<i class="{{ checks2(data.desfi) }}"></i></td>
                                        <td style="text-align: right">{{ data.deshi = data.labores['DESVÍO DE HIJOS'] | number : 2}}<i class="{{ checks2(data.deshi) }}"></i></td>
                                        <td style="text-align: right">{{ data.enfunde = data.labores['ENFUNDE'] | number : 2}}<i class="{{ checks2(data.enfunde) }}"></i></td>
                                        <td style="text-align: right">{{ data.proteccion = data.labores['PROTECCION'] | number : 2}}<i class="{{ checks2(data.proteccion) }}"></i></td>
                                        <td style="text-align: right">{{ data.control = data.labores['CONTROL DE MALEZAS'] | number : 2}}<i class="{{ checks2(data.control) }}"></i></td>
                                        <td style="text-align: right">{{ data.deshoje = data.labores['DESHOJE'] | number : 2}}<i class="{{ checks2(data.deshoje) }}"></i></td>
                                        <td style="text-align: right">{{ data.drenajes = data.labores['DRENAJES'] | number : 2}}<i class="{{ checks2(data.drenajes) }}"></i></td>
                                        <td style="text-align: right">{{ data.limpiador = data.labores['LIMPIADOR'] | number : 2}}<i class="{{ checks2(data.limpiador) }}"></i></td> -->
                                        
                                  </tr>
                            </tbody>
                           </table>
                        </diiv>
                      </div>
                  </div>
                  <!-- END PORTLET-->
              </div>
          </div>
          <!-- BEGIN INTERACTIVE CHART PORTLET-->