
.bubble-chat .bubble-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background: rgb(0, 147, 255);
    color: rgb(255, 255, 255);
    border-radius: 50%;
    cursor: pointer;
}