<span style='color: #000'>1519 frames</span>	<span style='color: #900'>6,144 KB</span>	<span style='color: #090'>2,234.11 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #c00'>ON</span></span><br /><br />
<b>Warning</b>:  "continue" targeting switch is equivalent to "break". Did you mean to use "continue 2"? in <b>C:\xampp\htdocs\agroaudit\phrapi\libs\utilities\dompdf\include\text_renderer.cls.php</b> on line <b>123</b><br />
<br />
<b>Warning</b>:  A non-numeric value encountered in <b>C:\xampp\htdocs\agroaudit\phrapi\libs\utilities\dompdf\include\inline_renderer.cls.php</b> on line <b>132</b><br />
<br />
<b>Warning</b>:  A non-numeric value encountered in <b>C:\xampp\htdocs\agroaudit\phrapi\libs\utilities\dompdf\include\inline_renderer.cls.php</b> on line <b>132</b><br />
<br />
<b>Warning</b>:  A non-numeric value encountered in <b>C:\xampp\htdocs\agroaudit\phrapi\libs\utilities\dompdf\include\inline_renderer.cls.php</b> on line <b>132</b><br />
<br />
<b>Warning</b>:  A non-numeric value encountered in <b>C:\xampp\htdocs\agroaudit\phrapi\libs\utilities\dompdf\include\inline_renderer.cls.php</b> on line <b>48</b><br />
<br />
<b>Warning</b>:  A non-numeric value encountered in <b>C:\xampp\htdocs\agroaudit\phrapi\libs\utilities\dompdf\include\inline_renderer.cls.php</b> on line <b>110</b><br />
<br />
<b>Warning</b>:  A non-numeric value encountered in <b>C:\xampp\htdocs\agroaudit\phrapi\libs\utilities\dompdf\include\inline_renderer.cls.php</b> on line <b>110</b><br />
<br />
<b>Warning</b>:  A non-numeric value encountered in <b>C:\xampp\htdocs\agroaudit\phrapi\libs\utilities\dompdf\include\inline_renderer.cls.php</b> on line <b>110</b><br />
<br />
<b>Warning</b>:  A non-numeric value encountered in <b>C:\xampp\htdocs\agroaudit\phrapi\libs\utilities\dompdf\include\inline_renderer.cls.php</b> on line <b>132</b><br />
<br />
<b>Warning</b>:  A non-numeric value encountered in <b>C:\xampp\htdocs\agroaudit\phrapi\libs\utilities\dompdf\include\inline_renderer.cls.php</b> on line <b>132</b><br />
<br />
<b>Warning</b>:  A non-numeric value encountered in <b>C:\xampp\htdocs\agroaudit\phrapi\libs\utilities\dompdf\include\cpdf_adapter.cls.php</b> on line <b>593</b><br />
<br />
<b>Warning</b>:  A non-numeric value encountered in <b>C:\xampp\htdocs\agroaudit\phrapi\libs\utilities\dompdf\include\inline_renderer.cls.php</b> on line <b>132</b><br />
<br />
<b>Warning</b>:  A non-numeric value encountered in <b>C:\xampp\htdocs\agroaudit\phrapi\libs\utilities\dompdf\include\cpdf_adapter.cls.php</b> on line <b>593</b><br />
<br />
<b>Warning</b>:  A non-numeric value encountered in <b>C:\xampp\htdocs\agroaudit\phrapi\libs\utilities\dompdf\include\inline_renderer.cls.php</b> on line <b>132</b><br />
<br />
<b>Warning</b>:  A non-numeric value encountered in <b>C:\xampp\htdocs\agroaudit\phrapi\libs\utilities\dompdf\include\inline_renderer.cls.php</b> on line <b>132</b><br />
<br />
<b>Warning</b>:  A non-numeric value encountered in <b>C:\xampp\htdocs\agroaudit\phrapi\libs\utilities\dompdf\include\cpdf_adapter.cls.php</b> on line <b>593</b><br />
<br />
<b>Warning</b>:  A non-numeric value encountered in <b>C:\xampp\htdocs\agroaudit\phrapi\libs\utilities\dompdf\include\inline_renderer.cls.php</b> on line <b>132</b><br />
<br />
<b>Warning</b>:  A non-numeric value encountered in <b>C:\xampp\htdocs\agroaudit\phrapi\libs\utilities\dompdf\include\inline_renderer.cls.php</b> on line <b>132</b><br />
<br />
<b>Warning</b>:  A non-numeric value encountered in <b>C:\xampp\htdocs\agroaudit\phrapi\libs\utilities\dompdf\include\inline_renderer.cls.php</b> on line <b>132</b><br />
<br />
<b>Warning</b>:  A non-numeric value encountered in <b>C:\xampp\htdocs\agroaudit\phrapi\libs\utilities\dompdf\include\inline_renderer.cls.php</b> on line <b>132</b><br />
<br />
<b>Warning</b>:  A non-numeric value encountered in <b>C:\xampp\htdocs\agroaudit\phrapi\libs\utilities\dompdf\include\inline_renderer.cls.php</b> on line <b>132</b><br />
<br />
<b>Warning</b>:  A non-numeric value encountered in <b>C:\xampp\htdocs\agroaudit\phrapi\libs\utilities\dompdf\include\inline_renderer.cls.php</b> on line <b>132</b><br />
<br />
<b>Warning</b>:  A non-numeric value encountered in <b>C:\xampp\htdocs\agroaudit\phrapi\libs\utilities\dompdf\include\inline_renderer.cls.php</b> on line <b>132</b><br />
<br />
<b>Warning</b>:  A non-numeric value encountered in <b>C:\xampp\htdocs\agroaudit\phrapi\libs\utilities\dompdf\include\inline_renderer.cls.php</b> on line <b>48</b><br />
<br />
<b>Warning</b>:  A non-numeric value encountered in <b>C:\xampp\htdocs\agroaudit\phrapi\libs\utilities\dompdf\include\inline_renderer.cls.php</b> on line <b>110</b><br />
<br />
<b>Warning</b>:  A non-numeric value encountered in <b>C:\xampp\htdocs\agroaudit\phrapi\libs\utilities\dompdf\include\inline_renderer.cls.php</b> on line <b>110</b><br />
<br />
<b>Warning</b>:  A non-numeric value encountered in <b>C:\xampp\htdocs\agroaudit\phrapi\libs\utilities\dompdf\include\inline_renderer.cls.php</b> on line <b>110</b><br />
<br />
<b>Warning</b>:  A non-numeric value encountered in <b>C:\xampp\htdocs\agroaudit\phrapi\libs\utilities\dompdf\include\inline_renderer.cls.php</b> on line <b>132</b><br />
<br />
<b>Warning</b>:  A non-numeric value encountered in <b>C:\xampp\htdocs\agroaudit\phrapi\libs\utilities\dompdf\include\cpdf_adapter.cls.php</b> on line <b>593</b><br />
<br />
<b>Warning</b>:  A non-numeric value encountered in <b>C:\xampp\htdocs\agroaudit\phrapi\libs\utilities\dompdf\include\cpdf_adapter.cls.php</b> on line <b>593</b><br />
<br />
<b>Warning</b>:  A non-numeric value encountered in <b>C:\xampp\htdocs\agroaudit\phrapi\libs\utilities\dompdf\include\cpdf_adapter.cls.php</b> on line <b>593</b><br />
<br />
<b>Warning</b>:  A non-numeric value encountered in <b>C:\xampp\htdocs\agroaudit\phrapi\libs\utilities\dompdf\include\cpdf_adapter.cls.php</b> on line <b>593</b><br />
<br />
<b>Warning</b>:  A non-numeric value encountered in <b>C:\xampp\htdocs\agroaudit\phrapi\libs\utilities\dompdf\include\inline_renderer.cls.php</b> on line <b>132</b><br />
