<style type="text/css">
    .nobmp-reporte-accordion{
        border: 0 !important;
        margin: 0 !important;
        padding: 0 !important;
    }
    table, td{
      text-align: center !important;
    }
    table, th{
      text-align: center !important;
    }
</style>
<div class="row" ng-if="checkParams()">
              <div class="col-md-12 col-sm-6">
                  <div class="portlet light portlet-fit bordered">
                      <div class="portlet-title">
                          <h3>Quality inspection</h3>
                      </div>
                      <div class="portlet-body">
                        <div class="table-responsive">
                           <table class="table table-hover table-bordered">
                           <thead>
                               <tr>
									<th COLSPAN="4"></th>
									<th COLSPAN="8">SELECTION</th>
									<th COLSPAN="9">PACKING</th>
									<th COLSPAN="4">OTHERS</th>
									<th COLSPAN="2">TOTAL DAMAGE</th>
									<th COLSPAN="2"></th>
                               </tr>
                               <tr>
                                      <th>N</th>
                                      <th>Weight (Kg)</th>
                                      <th># Cluster</th>
                                      <th># Fingers</th>
                                      <th>SR</th>
                                      <th>BR</th>
                                      <th>NI</th>
                                      <th>CT</th>
                                      <th>LP</th>
                                      <th>BM</th>
                                      <th>LS</th>
                                      <th>PS</th>
                                      <th>SR</th>
                                      <th>BR</th>
                                      <th>NI</th>
                                      <th>CT</th>
                                      <th>FL</th>
                                      <th>TC</th>
                                      <th>MF</th>
                                      <th>UG</th>
                                      <th>OQ</th>
                                      <th>WI</th>
                                      <th>SK</th>
                                      <th>BB</th>
                                      <th>TS</th>
                                      <th>by Finger</th>
                                      <th>by Cluster</th>
                                      <th>Fingers quality</th>
                                      <th>Cluster quality</th>
                                      
                                </tr>
                           </thead>
                            <tbody>
                                 <tr ng-repeat="calidad in tabla_principal">
									 <td>{{$index+1}}</td>
									 <td>{{calidad.peso}}</td>
									 <td>{{calidad.num_cluster}}</td>
									 <td>{{calidad.num_dedos}}</td>
									 <td>{{calidad.seleccion.SR}}</td>
									 <td>{{calidad.seleccion.BR}}</td>
									 <td>{{calidad.seleccion.NI}}</td>
									 <td>{{calidad.seleccion.CT}}</td>
									 <td>{{calidad.seleccion.LP}}</td>
									 <td>{{calidad.seleccion.BM}}</td>
									 <td>{{calidad.seleccion.LS}}</td>
									 <td>{{calidad.seleccion.PS}}</td>
									 <td>{{calidad.empaque.SR}}</td>
									 <td>{{calidad.empaque.BR}}</td>
									 <td>{{calidad.empaque.NI}}</td>
									 <td>{{calidad.empaque.CT}}</td>
									 <td>{{calidad.empaque.FL}}</td>
									 <td>{{calidad.empaque.TC}}</td>
									 <td>{{calidad.empaque.MF}}</td>
									 <td>{{calidad.empaque.UG}}</td>
									 <td>{{calidad.empaque.OQ}}</td>
									 <td>{{calidad.otros.WI}}</td>
									 <td>{{calidad.otros.SK}}</td>
									 <td>{{calidad.otros.BB}}</td>
									 <td>{{calidad.otros.TS}}</td>
									 <td>{{calidad.danhos_por_dedo}}</td>
									 <td>{{calidad.danhos_por_cluster}}</td>
									 <td style="text-align: right !important;">{{total_principal.calidad_dedos}}</td>
                   <td style="text-align: right !important;">{{total_principal.calidad_cluster}}</td>
									 
								 </tr>
								 <tr>
									 <td>P/T</td>
									 <td>{{total_principal.peso}}</td>
									 <td>{{total_principal.num_cluster}}</td>
									 <td>{{total_principal.num_dedos}}</td>
									 <td>{{total_principal.seleccion.SR}}</td>
									 <td>{{total_principal.seleccion.BR}}</td>
									 <td>{{total_principal.seleccion.NI}}</td>
									 <td>{{total_principal.seleccion.CT}}</td>
									 <td>{{total_principal.seleccion.LP}}</td>
									 <td>{{total_principal.seleccion.BM}}</td>
									 <td>{{total_principal.seleccion.LS}}</td>
									 <td>{{total_principal.seleccion.PS}}</td>
									 <td>{{total_principal.empaque.SR}}</td>
									 <td>{{total_principal.empaque.BR}}</td>
									 <td>{{total_principal.empaque.NI}}</td>
									 <td>{{total_principal.empaque.CT}}</td>
									 <td>{{total_principal.empaque.FL}}</td>
									 <td>{{total_principal.empaque.TC}}</td>
									 <td>{{total_principal.empaque.MF}}</td>
									 <td>{{total_principal.empaque.UG}}</td>
									 <td>{{total_principal.empaque.OQ}}</td>
									 <td>{{total_principal.otros.WI}}</td>
									 <td>{{total_principal.otros.SK}}</td>
									 <td>{{total_principal.otros.BB}}</td>
									 <td>{{total_principal.otros.TS}}</td>
									 <td>{{total_principal.danhos_por_dedo}}</td>
									 <td>{{total_principal.danhos_por_cluster}}</td>
									 <td>{{total_principal.calidad_dedos}}</td>
									 <td>{{total_principal.calidad_cluster}}</td>
									 
								 </tr>
								 
                                 
                            </tbody>
                           </table>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
<div class="row">
    <div class="col-md-6" ng-if="checkParams() && por_cluster()">
        <div class="portlet light portlet-fit ">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-green"></i>
                    <span class="caption-subject font-green bold uppercase">Cluster weight (gr)</span>
                </div>
                 <!-- <div class="actions">
                    <a class="btn btn-success" href="javascript:;" ng-click="viewGraph(1)">
                        Calidad
                    </a>
                    <a class="btn btn-warning" href="javascript:;" ng-click="viewGraph(2)">
                       Desviación Estándar
                    </a>
                    <a class="btn btn-danger" href="javascript:;" ng-click="viewGraph(3)">
                        Peso caja
                    </a>
                    <a class="btn btn-info" href="javascript:;" ng-click="viewGraph(5)">
                        Peso clúster
                    </a>
                    <a class="btn btn-primary" href="javascript:;" ng-click="viewGraph(4)">
                        Clúster
                    </a>
                </div>  -->
            </div>
            <div class="portlet-body">
                <div class="table-scrollable">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <td style="text-align: center"><a ng-click="orderByField = 'nombre';reverseSort = !reverseSort">Cluster</a></td>
                                <td style="text-align: center" ng-repeat="(key, value) in table_porCluster.label"><a>{{value}}</a></td>
                            </tr>
                        </thead>
                        <tbody>
                             <tr ng-repeat="data in table_porCluster.data|orderObjectBy:orderByField:reverseSort">
                                    <td style="text-align: center">{{ data.nombre }}</td>
                                    <td style="text-align: center" ng-repeat="(llave, valor) in table_porCluster.label">{{data[valor]}}</td>
                              </tr>
                        </tbody>
                        <tfoot>
                            <tr ng-repeat="(key,value) in table_porCluster.totals" ng-if="key != 'categories'">
                                <td style="text-align: center">{{ key }}</td>
                                <td style="text-align: center" ng-repeat="(llave, valor) in table_porCluster.label">{{value[valor]}}</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6" ng-if="checkParams() && por_cluster()">
        <div class="portlet light portlet-fit ">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-green"></i>
                    <span class="caption-subject font-green bold uppercase">Cluster weight (gr) Historical</span>
                </div>
                 <div class="actions">
                    <!-- <a class="btn btn-success" href="javascript:;" ng-click="viewGraph(1)">
                        Calidad
                    </a> -->
                    <a class="btn btn-warning" href="javascript:;" ng-click="por_clusterGrap(porClusterFlag)">
                       {{porClusterText}}
                    </a>
                    <!-- <a class="btn btn-danger" href="javascript:;" ng-click="viewGraph(3)">
                        Peso
                    </a>
                    <a class="btn btn-primary" href="javascript:;" ng-click="viewGraph(4)">
                        Clúster
                    </a> -->
                </div> 
            </div>
            <div class="portlet-body">
                <div id="peso_cluster" style="height:500px;"></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light portlet-fit ">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-green"></i>
                    <span class="caption-subject font-green bold uppercase">HISTORY QUALITY - {{ leyendaGeneralTitle }}</span>
                </div>
                 <div class="actions">
                    <a class="btn btn-success" href="javascript:;" ng-click="viewGraph(1)">
                        Quality
                    </a>
                    <a class="btn btn-warning" href="javascript:;" ng-click="viewGraph(2)">
                       Standard deviation
                    </a>
                    <a class="btn btn-danger" href="javascript:;" ng-click="viewGraph(3)">
                        weight case
                    </a>
					<a class="btn btn-info" href="javascript:;" ng-click="viewGraph(5)">
                       weight cluster
                    </a>
                    <a class="btn btn-primary" href="javascript:;" ng-click="viewGraph(4)">
                        Clúster
                    </a>
                </div> 
            </div>
            <div class="portlet-body">
                <div id="highstock_calidad" style="height:500px;"></div>
                <div class="hide" id="highstock_de" style="height:500px;"></div>
                <div class="hide" id="highstock_peso" style="height:500px;"></div>
                <div class="hide" id="highstock_peso_cluster" style="height:500px;"></div>
                <div class="hide" id="highstock_cluster" style="height:500px;"></div>
            </div>
        </div>

        <div class="portlet light portlet-fit " ng-show="!checkParams()">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-green"></i>
                    <span class="caption-subject font-green bold uppercase">HISTORICAL QUALITY - BRANDS<!--{{ leyendaGeneralTitle }}--></span>
                </div>
                 <div class="actions">
                    <!--<a class="btn btn-success" href="javascript:;" ng-click="viewGraph(1)">
                        Calidad
                    </a>
                    <a class="btn btn-warning" href="javascript:;" ng-click="viewGraph(2)">
                       Desviación Estándar
                    </a>
                    <a class="btn btn-danger" href="javascript:;" ng-click="viewGraph(3)">
                        Peso
                    </a>
                    <a class="btn btn-primary" href="javascript:;" ng-click="viewGraph(4)">
                        Clúster
                    </a>-->
                </div> 
            </div>
            <div class="portlet-body">
                <div id="highstock_calidad_historico" style="height:500px;"></div>
                <div class="hide" id="highstock_de" style="height:500px;"></div>
                <div class="hide" id="highstock_peso" style="height:500px;"></div>
                <div class="hide" id="highstock_cluster" style="height:500px;"></div>
            </div>
        </div>


        <div class="portlet light portlet-fit ">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-green"></i>
                    <span class="caption-subject font-green bold uppercase">HISTORICAL DAMAGE - {{ leyendaGeneralTitle }}</span>
                </div>
                <div class="actions">
                    <a class="btn btn-success" href="javascript:;" ng-click="viewGraphDanos(1)">
                        Todos
                    </a>
                    <a class="btn btn-warning" href="javascript:;" ng-click="viewGraphDanos(2)">
                        Selección
                    </a>
                    <a class="btn btn-danger" href="javascript:;" ng-click="viewGraphDanos(3)">
                        Empaque
                    </a>
                    <a class="btn btn-primary" href="javascript:;" ng-click="viewGraphDanos(4)">
                        Otros
                    </a>
                </div> 
            </div>
            <div class="portlet-body">
                <div class="hide" id="highstock_1" style="height:500px;"></div>
                <div id="highstock_danos_total" style="height:500px;"></div>
                <div class="hide" id="highstock_danos_seleccion" style="height:500px;"></div>
                <div class="hide" id="highstock_danos_empaque" style="height:500px;"></div>
                <div class="hide" id="highstock_danos_otros" style="height:500px;"></div>
            </div>
        </div>
    </div>
</div>
<div class="row" style="display:none">
    <div class="col-md-6 col-sm-6">
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-cursor font-purple"></i>
                    <span class="caption-subject font-purple bold uppercase">Gagos.Promedio</span>
                </div>
                <div class="actions">
                    <a href="javascript:;" class="btn btn-sm btn-circle red easy-pie-chart-reload">
                        <i class="fa fa-repeat"></i> Kilos </a>
                    <a href="javascript:;" class="btn btn-sm btn-circle red easy-pie-chart-reload">
                        <i class="fa fa-repeat"></i> Libras </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="easy-pie-chart">
                            <div class="number transactions" data-percent="55">
                                <span>+55</span>% <canvas height="75" width="75"></canvas></div>
                            <a class="title" href="javascript:;"> Peso Prom Gajo
                                <i class="icon-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="margin-bottom-10 visible-sm"> </div>
                    <div class="col-md-3">
                        <div class="easy-pie-chart">
                            <div class="number visits" data-percent="85">
                                <span>+85</span>% <canvas height="75" width="75"></canvas></div>
                            <a class="title" href="javascript:;"> Peso Max
                                <i class="icon-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="margin-bottom-10 visible-sm"> </div>
                    <div class="col-md-3">
                        <div class="easy-pie-chart">
                            <div class="number bounce" data-percent="46">
                                <span>-46</span>% <canvas height="75" width="75"></canvas></div>
                            <a class="title" href="javascript:;"> Peso Min
                                <i class="icon-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="margin-bottom-10 visible-sm"> </div>
                     <div class="col-md-3">
                        <div class="easy-pie-chart">
                            <div class="number bounce" data-percent="46">
                                <span>-46</span>% <canvas height="75" width="75"></canvas></div>
                            <a class="title" href="javascript:;"> Desv Estandar
                                <i class="icon-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6">
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-equalizer font-yellow"></i>
                    <span class="caption-subject font-yellow bold uppercase">Gajos.Estadisticas</span>
                    <span class="caption-helper">monthly stats...</span>
                </div>
                <div class="tools">
                    <a href="" class="collapse" data-original-title="" title=""> </a>
                    <a href="#portlet-config" data-toggle="modal" class="config" data-original-title="" title=""> </a>
                    <a href="" class="reload" data-original-title="" title=""> </a>
                    <a href="" class="remove" data-original-title="" title=""> </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="sparkline-chart">
                            <div class="number" id="sparkline_bar5"><canvas width="113" height="55" style="display: inline-block; width: 113px; height: 55px; vertical-align: top;"></canvas></div>
                            <a class="title" href="javascript:;"> Peso Max
                                <i class="icon-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="margin-bottom-10 visible-sm"> </div>
                    <div class="col-md-4">
                        <div class="sparkline-chart">
                            <div class="number" id="sparkline_bar6"><canvas width="107" height="55" style="display: inline-block; width: 107px; height: 55px; vertical-align: top;"></canvas></div>
                            <a class="title" href="javascript:;"> Peso Min
                                <i class="icon-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="margin-bottom-10 visible-sm"> </div>
                    <div class="col-md-4">
                        <div class="sparkline-chart">
                            <div class="number" id="sparkline_line"><canvas width="100" height="55" style="display: inline-block; width: 100px; height: 55px; vertical-align: top;"></canvas></div>
                            <a class="title" href="javascript:;"> Peso Prom Gajo
                                <i class="icon-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-show="!checkParams()">
    <div class="col-md-6 col-sm-6">

        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-settings"></i>CLIENT / BRAND - QUALITY</div>
                <div class="tools">
                    <a href="javascript:;" class="collapse" data-original-title="Expandir/Contraer" title=""> </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="portlet-body">

                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th width="35%"> CLIENT / BRAND </th>
                                <th width="20%"> QUALITY </th>
                                <th width="20%"> # CLÚSTER </th>
                                <th width="20%"> WEIGHT (KG) </th>
                                <th width="5%">&nbsp;</th>
                            </tr>
                        </thead>
                    </table>

                    <div class="panel-group accordion" id="accordion3" ng-repeat="tabla in tabla_cliente_marca_calidad" style="margin-top: -10px; padding-top: -10px;">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion3" href="#tabla_collapse_{{tabla.id}}" aria-expanded="false"> 
                                        <table class="table" class="nobmp-reporte-accordion" style="border: 0; padding: 0; margin: 0;">
                                            <thead class="nobmp-reporte-accordion">
                                                <tr class="nobmp-reporte-accordion">
                                                    <th width="38%" class="nobmp-reporte-accordion"> {{ tabla.cliente_marca }} </th>
                                                    <th width="22%" class="nobmp-reporte-accordion"> {{ tabla.calidad | number:2 }} </th>
                                                    <th width="22%" class="nobmp-reporte-accordion"> {{ tabla.cluster | number:2 }} </th>
                                                    <th width="18%" class="nobmp-reporte-accordion"> {{ tabla.peso | number:2 }} </th>
                                                </tr>
                                        </thead>
                                        </table>
                                    </a>
                                </h4>
                            </div>
                            <div id="tabla_collapse_{{tabla.id}}" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                <div class="panel-body">
                                    <table class="table">
                                        <tr ng-repeat="marcas in tabla.marcas">
                                            <td><a href="/calidad?c={{ tabla.cliente_marca }}&m={{marcas.marca}}">{{marcas.marca}}</a></td>
                                            <td>{{marcas.calidad | number:2 }}</td>
                                            <td>{{marcas.cluster | number:2 }}</td>
                                            <td>{{marcas.peso | number:2 }}</td>
                                        </tr>
                                    </table>

                                    <div class="alert alert-danger" ng-if="tabla.marcas.length == 0">
                                        <strong> Brands: </strong> No information has been found brands {{tabla.cliente_marca}}
                                    </div>

                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- DAÑOS -->
    <div class="col-md-6 col-sm-6">

        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-settings"></i>CLIENT / BRAND - DAMAGES</div>
                <div class="tools">
                    <a href="javascript:;" class="collapse" data-original-title="Expandir/Contraer" title=""> </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="portlet-body">

                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th width="35%"> CLIENT / BRAND </th>
                                <th width="20%"> SELECTION </th>
                                <th width="20%"> PACKING </th>
                                <th width="20%"> OTHERS </th>
                                <th width="5%">&nbsp;</th>
                            </tr>
                        </thead>
                    </table>


                    <div class="panel-group accordion" id="accordion4" ng-repeat="tabla in tabla_cliente_marca_danos" style="margin-top: -10px; padding-top: -10px;">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion3" href="#tabla_collapse_danos_{{tabla.id}}" aria-expanded="false"> 
                                        <table class="table" class="nobmp-reporte-accordion" style="border: 0; padding: 0; margin: 0;">
                                            <thead class="nobmp-reporte-accordion">
                                                <tr class="nobmp-reporte-accordion">
                                                    <th width="38%" class="nobmp-reporte-accordion"> {{ tabla.cliente_marca }} </th>
                                                    <th width="22%" class="nobmp-reporte-accordion"> {{ tabla.seleccion  | number:2 }} </th>
                                                    <th width="22%" class="nobmp-reporte-accordion"> {{ tabla.empaque  | number:2 }} </th>
                                                    <th width="18%" class="nobmp-reporte-accordion"> {{ tabla.otros  | number:2 }} </th>
                                                </tr>
                                        </thead>
                                        </table>
                                    </a>
                                </h4>
                            </div>
                            <div id="tabla_collapse_danos_{{tabla.id}}" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                <div class="panel-body">
                                    <table class="table">
                                        <tr ng-repeat="marcas in tabla.marcas">
                                            <td><a href="/calidad?c={{ tabla.cliente_marca }}&m={{marcas.marca}}">{{marcas.marca}}</a></td>
                                            <td>{{marcas.seleccion | number:2 }}</td>
                                            <td>{{marcas.empaque | number:2 }}</td>
                                            <td>{{marcas.otros | number:2 }}</td>
                                        </tr>
                                    </table>

                                    <div class="alert alert-danger" ng-if="tabla.marcas.length == 0">
                                        <strong> Brands: </strong> No information has been found brands {{tabla.cliente_marca}}
                                    </div>

                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="row">
    <div class="col-md-6 col-sm-6">
      <div class="portlet light portlet-fit bordered">
          <div class="portlet-title">
              <div class="caption">
                  <span class="caption-subject font-dark sbold uppercase">
                      <h3>
                         GENERAL DAMAGES
                      </h3>
                  </span>
              </div>
          </div>
          <div class="portlet-body">
              <div id="echarts_generales" style="height:300px;"></div>
          </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-6">
      <div class="portlet light portlet-fit bordered">
            <div class="portlet-title tabbable-line">
                <div class="caption">
                    <i class="icon-share font-dark"></i>
                    <span class="caption-subject font-dark bold uppercase"> New Damage</span>
                </div>
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#portlet_tab2_1" ng-click="tab('seleccion')" data-toggle="tab"> Selection</a>
                    </li>
                    <li>
                        <a href="#portlet_tab2_2" ng-click="tab('empaque')" data-toggle="tab"> Packing </a>
                    </li>
                    <li>
                        <a href="#portlet_tab2_3" ng-click="tab('otros')" data-toggle="tab"> Others </a>
                    </li>
                </ul>
            </div>
          <div class="portlet-body">
              <!-- <div class="tab-content"> -->
                  <!-- <div class="tab-pane active" id="portlet_tab2_1"> -->
                      <div id="echarts_generales_detalles" style="height:300px;"></div>
                  <!-- </div> -->
                <!--   <div class="tab-pane" id="portlet_tab2_2">
                      <div id="echarts_generales_2" style="height:300px;"></div>
                  </div>
                  <div class="tab-pane" id="portlet_tab2_3">
                      <div id="echarts_generales_3" style="height:300px;"></div>
                  </div> -->
              <!-- </div> -->
          </div>
      </div>
    </div>
</div>