<style type="text/css">
    .nobmp-reporte-accordion{
        border: 0 !important;
        margin: 0 !important;
        padding: 0 !important;
    }
    table, td{
      text-align: center !important;
    }
    table, th{
      text-align: center !important;
    }
   
    .withCell > td {
        max-width: 130px !important;
        width: 130px !important;
        min-width: 130px !important;
        cursor: pointer;
    }
    
</style>
<div class="row">
    <div class="col-md-12" id="contentTableSubFinca" ng-show="calidad.params.idFinca > 0">
        <div class="portlet light portlet-fit ">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-green"></i>
                    <span class="caption-subject font-green bold uppercase">Inspección de Calidad</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-scrollable">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th ng-click="orderByField = 'id';reverseSort = !reverseSort">N</th>
                                <th ng-click="orderByField = 'peso';reverseSort = !reverseSort">Peso (Kg)</th>
                                <th ng-click="orderByField = 'num_cluster';reverseSort = !reverseSort"># Cluster</th>
                                <th ng-click="orderByField = 'num_dedos';reverseSort = !reverseSort"># Dedos</th>
                                <th ng-repeat="(key , value) in tittleDefectos">
                                    <a href="javascript:;" title data-original-title="{{value}}" style="text-decoration: none ;" tooltip>{{key}}</a> 
                                </th>
                                <th ng-click="orderByField = 'for_dedos';reverseSort = !reverseSort">Por Dedo</th>
                                <th ng-click="orderByField = 'for_cluster';reverseSort = !reverseSort">Por Cluster</th>
                                <th ng-click="orderByField = 'calidad_dedos';reverseSort = !reverseSort">Calidad Dedos</th>
                                <th ng-click="orderByField = 'calidad_cluster';reverseSort = !reverseSort">Calidad Cluster</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in muestras |orderObjectBy:orderByField:reverseSort">
                                <td>{{data.id}}</td>
                                <td>{{data.peso}}</td>
                                <td>{{data.num_cluster}}</td>
                                <td>{{data.num_dedos}}</td>
                                <th ng-repeat="(key , value) in tittleDefectos">
                                    {{data.defectos[key]}}
                                </td>
                                <td>{{data.for_dedos}}</td>
                                <td>{{data.for_cluster}}</td>
                                <td>{{data.calidad_dedos}}</td>
                                <td>{{data.calidad_cluster}}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td></td>
                                <td>{{totales.peso | number : 2}}</td>
                                <td>{{totales.num_cluster | number : 2}}</td>
                                <td>{{totales.num_dedos | number : 2}}</td>
                                <th ng-repeat="(key,value) in tittleDefectos">
                                    {{totales.defectos[key]}}
                                </td>
                                <td>{{totales.for_dedos | number : 2}}</td>
                                <td>{{totales.for_cluster | number : 2}}</td>
                                <td>{{totales.calidad_dedos | number : 2}}</td>
                                <td>{{totales.calidad_cluster | number : 2}}</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12" id="contentMain">
        <div class="portlet light portlet-fit ">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-green"></i>
                    <span class="caption-subject font-green bold uppercase">CALIDAD FINCAS</span>
                </div>
            </div>
            <div class="portlet-body">
                <div id="principal" style="height:500px;"></div>
            </div>
        </div>
    </div>
    <div class="col-md-12" id="contentClusterCaja">
        <div class="portlet light portlet-fit ">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-green"></i>
                    <span class="caption-subject font-green bold uppercase">CATEGORIAS</span>
                </div>
            </div>
            <div class="portlet-body">
                <div id="clusterCajas" style="height:500px;"></div>
            </div>
        </div>
    </div>
    <div class="col-md-6" id="clusterContent">
        <div class="portlet light portlet-fit ">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-green"></i>
                    <span class="caption-subject font-green bold uppercase">CLUSTERS</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-scrollable">
                    <table class="table table-striped table-bordered table-hover">
                        <tr>
                            <th>Cluster</th>
                            <th>Promedio</th>
                            <th>%</th>
                        </tr>
                        <tbody>
                            <tr class="withCell"  ng-repeat-start="finca in clusters" ng-click="openDetalle(finca)">
                                <td>{{finca.finca}}</td>
                                <td>{{finca.promedio  | number : 2}}</td>
                                <td></td>
                                <!--<td>{{finca.porcentaje | number : 2}}</td>-->
                            </tr>
                            <tr ng-repeat-end  ng-show="finca.expand">
                                <td colspan="3">
                                    <table class="table table-striped table-bordered table-hover">
                                        <tbody>
                                            <tr class="withCell" ng-repeat-start="subFincas in finca.details" ng-click="openDetalle(subFincas)">
                                                <td>{{subFincas.cluster}}</td>
                                                <td>{{subFincas.promedio  | number : 2}}</td>
                                                <td>{{subFincas.porcentaje | number : 2}}</td>
                                            </tr>
                                            <tr ng-repeat-end ng-show="subFincas.expand">
                                                <td colspan="3">
                                                    <table class="table table-striped table-bordered table-hover">
                                                        <tbody>
                                                            <tr class="withCell" ng-repeat="cluster in subFincas.details">
                                                                <td>{{cluster.cluster}}</td>
                                                                <td>{{cluster.promedio | number : 2}}</td>
                                                                <td>{{cluster.porcentaje | number : 2}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6" id="dedosConten">
        <div class="portlet light portlet-fit ">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-green"></i>
                    <span class="caption-subject font-green bold uppercase">DEDOS</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-scrollable">
                    <table class="table table-striped table-bordered table-hover">
                        <tr>
                            <th>Dedos</th>
                            <th>Promedio</th>
                            <th>%</th>
                        </tr>
                        <tbody>
                            <tr class="withCell"  ng-repeat-start="finca in dedos" ng-click="openDetalle(finca)">
                                <td>{{finca.finca}}</td>
                                <td>{{finca.promedio  | number : 2}}</td>
                                <td></td>
                                <!--<td>{{finca.porcentaje | number : 2}}</td>-->
                            </tr>
                            <tr ng-repeat-end ng-show="finca.expand">
                                <td colspan="3">
                                    <table class="table table-striped table-bordered table-hover">
                                        <tbody>
                                            <tr class="withCell" ng-repeat-start="subFincas in finca.details" ng-click="openDetalle(subFincas)">
                                                <td>{{subFincas.dedos}}</td>
                                                <td>{{subFincas.promedio  | number : 2}}</td>
                                                <td>{{subFincas.porcentaje | number : 2}}</td>
                                            </tr>
                                            <tr ng-repeat-end ng-show="subFincas.expand">
                                                <td colspan="3">
                                                    <table class="table table-striped table-bordered table-hover">
                                                        <tbody>
                                                            <tr class="withCell" ng-repeat="dedos in subFincas.details">
                                                                <td>{{dedos.dedos}}</td>
                                                                <td>{{dedos.promedio  | number : 2}}</td>
                                                                <td>{{dedos.porcentaje | number : 2}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12" id="contentDefectos">
        <div class="col-md-6">
            <div class="portlet light portlet-fit ">
                <div class="portlet-title">
                    <div class="caption">
                        <i class=" icon-layers font-green"></i>
                        <span class="caption-subject font-green bold uppercase">Categorias</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div id="CategoriasDefectos" style="height:500px;"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="portlet light portlet-fit ">
                <div class="portlet-title">
                    <div class="caption">
                        <i class=" icon-layers font-green"></i>
                        <span class="caption-subject font-green bold uppercase">DEFECTOS</span>
                    </div>
                    <div class="actions">
                        <label for="">
                            Categorias : 
                        </label>
                        <select onchange="cambiosCategoria()" name="categoria" id="categoria" style="margin: 2px;height: 36px;">
                            <option ng-repeat="(key, value) in categoriasFilters" ng-selected="categoriaSelected == key" value="{{key}}">{{value}}</option>
                        </select>
                    </div>
                </div>
                <div class="portlet-body">
                    <div id="defectos" style="height:500px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>