<style type="text/css">
    .nobmp-reporte-accordion{
        border: 0 !important;
        margin: 0 !important;
        /*padding: 0 !important;*/
        padding: 9px !important;
    }
    .table thead tr th {
        font-size: 10px !important;
        font-weight: 600;
    }
    .table tbody tr td {
        font-size: 10px !important;
        font-weight: 600;
    }
    .accordion .panel .panel-title .accordion-toggle {
        display: block;
        padding: 2px 0px !important;
    }

</style>
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-settings"></i>% DE MERMA POR DÍA</div>
                <div class="tools">
                    <a href="javascript:;" class="collapse" data-original-title="Expandir/Contraer" title=""> </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="portlet-body">
                    <!-- <div class="table-scrollable"> -->
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr style="cursor: pointer;">
                                    <th width="10%" ng-click="orderByField = 'palanca';reverseSort = !reverseSort" style="text-align: left;padding-left: 15px !important;" class="nobmp-reporte-accordion" ng-if="calidad.params.categoria != 'LOTERO AEREO' && calidad.params.categoria != 'ENFUNDE'"> PALANCA </th>
                                    <th width="10%" ng-click="orderByField = 'palanca';reverseSort = !reverseSort" style="text-align: left;padding-left: 15px !important;" class="nobmp-reporte-accordion" ng-if="calidad.params.categoria == 'LOTERO AEREO' || calidad.params.categoria == 'ENFUNDE'"> LOTE </th>
                                    <th width="{{table.merma_widthCell}}" 
                                        ng-click="orderByField = 'total_peso_merma';reverseSort = !reverseSort" class="nobmp-reporte-accordion"
                                        ng-repeat="(key, value) in numViajes" style="padding-left: 5px !important;"> 
                                        V {{ value }}
                                    </th>
                                    <th width="5%">&nbsp;</th>
                                </tr>
                            </thead>
                        </table>
                    <!-- </div> -->
                    <div class="panel-group accordion" id="accordion2" ng-repeat="(key , palanca) in merma" style="margin-top: -10px; padding-top: -10px;">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion2" href="#tabla_collapse_merma{{$index}}" aria-expanded="false"> 
                                        <table class="table" class="nobmp-reporte-accordion" style="border: 0; padding: 0; margin: 0;">
                                            <thead class="nobmp-reporte-accordion">
                                                <tr class="nobmp-reporte-accordion">
                                                    <th width="10%" style="text-align: left;" class="nobmp-reporte-accordion"> {{ palanca.palanca }} </th>
                                                    <th width="{{table.merma_widthCell}}" 
                                                        class="nobmp-reporte-accordion"
                                                        ng-repeat="(key, value) in numViajes"
                                                    > 
                                                        {{ palanca.viajes[key].merma > 0
                                                            ? (palanca.viajes[key].merma + ' %')
                                                            : '' }}
                                                        <i ng-if="palanca.viajes[key].merma > 0" class="{{ getUmbralMerma(palanca.viajes[key].merma) }}"></i>
                                                    </th>
                                                    <th width="5%" class="nobmp-reporte-accordion"> &nbsp;</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </a>
                                </h4>
                            </div>
                            <div id="tabla_collapse_merma{{$index}}" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                <div class="panel-body">
                                    <!-- <div class="table-scrollable"> -->
                                        <table class="table">
                                            <tr style="cursor: pointer; display: none;" >
                                                <td ng-click="orderByField2 = 'palanca';reverseSort2 = !reverseSort2" ><i class="fa {{(reverseSort2) ? 'fa-sort-desc' : 'fa-sort-asc'}}"></i></td>
                                                <td ng-click="orderByField2 = 'viaje';reverseSort2 = !reverseSort2" ><i class="fa {{(reverseSort2) ? 'fa-sort-desc' : 'fa-sort-asc'}}"></i></td>
                                                <td ng-click="orderByField2 = 'filter';reverseSort2 = !reverseSort2" ><i class="fa {{(reverseSort2) ? 'fa-sort-desc' : 'fa-sort-asc'}}"></i></td>
                                                <td ng-click="orderByField2 = 'cantidad';reverseSort2 = !reverseSort2" ><i class="fa {{(reverseSort2) ? 'fa-sort-desc' : 'fa-sort-asc'}}"></i></td>
                                                <td></td>
                                            </tr>
                                            <tbody>
                                                <tr ng-repeat="(llave , defecto) in palanca.defectos">
                                                    <td width="10%" style="text-align: left;">{{ defecto.campo.replace("Peso " , "") }}</td>
                                                    <td width="{{table.merma_widthCell}}" ng-repeat="(indice, value) in numViajes">
                                                        {{ defecto.viajes[indice].cant > 0
                                                            ? (defecto.viajes[indice].cant + ' %')
                                                            : '--' }}
                                                        <i ng-if="defecto.viajes[indice].cant > 0" class="{{ getUmbralMerma(defecto.viajes[indice].cant) }}"></i>
                                                    </td>
                                                    <td width="5%" >&nbsp;</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    <!-- </div> -->

                                    <div class="alert alert-danger" ng-if="merma.length == 0">
                                        <strong>Merma: </strong> No se ha encontrado información
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row hide">
    <div class="col-md-12 col-sm-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-settings"></i>DAÑOS POR DÍA</div>
                <div class="tools">
                    <a href="javascript:;" class="collapse" data-original-title="Expandir/Contraer" title=""> </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="portlet-body">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr style="cursor: pointer;">
                                <th width="15%" ng-click="orderByField = 'palanca';reverseSort = !reverseSort" style="text-align: left;padding-left: 15px !important;" class="nobmp-reporte-accordion" ng-if="calidad.params.categoria != 'LOTERO AEREO' && calidad.params.categoria != 'ENFUNDE'"> PALANCA </th>
                                <th width="15%" ng-click="orderByField = 'palanca';reverseSort = !reverseSort" style="text-align: left;padding-left: 15px !important;" class="nobmp-reporte-accordion" ng-if="calidad.params.categoria == 'LOTERO AEREO' || calidad.params.categoria == 'ENFUNDE'"> LOTE </th>
                                <th width="10%" ng-click="orderByField = 'total_peso_merma';reverseSort = !reverseSort" 
                                    class="nobmp-reporte-accordion"
                                    ng-repeat="(key, value) in numViajes">
                                    V {{ value }}
                                </th>
                                <th width="5%">&nbsp;</th>
                            </tr>
                        </thead>
                    </table>
                    <div class="panel-group accordion" id="accordion2" ng-repeat="(key , palanca) in defectos" style="margin-top: -10px; padding-top: -10px;">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion2" href="#tabla_collapse_defectos{{$index}}" aria-expanded="false"> 
                                        <table class="table" class="nobmp-reporte-accordion" style="border: 0; padding: 0; margin: 0;">
                                            <thead class="nobmp-reporte-accordion">
                                                <tr class="nobmp-reporte-accordion">
                                                    <th width="15%" style="text-align: left;" class="nobmp-reporte-accordion"> {{ palanca.palanca }} </th>
                                                    <th width="10%" class="nobmp-reporte-accordion"
                                                        ng-repeat="(key, value) in numViajes"> 
                                                        {{ palanca.viajes[key].defectos > 0
                                                            ? palanca.viajes[key].defectos
                                                            : '' }}
                                                    </th>
                                                    <th width="5%" class="nobmp-reporte-accordion"> </th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </a>
                                </h4>
                            </div>
                            <div id="tabla_collapse_defectos{{$index}}" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                <div class="panel-body">
                                    <table class="table">
                                        <tr style="cursor: pointer; display: none;" >
                                            <td ng-click="orderByField2 = 'palanca';reverseSort2 = !reverseSort2" ><i class="fa {{(reverseSort2) ? 'fa-sort-desc' : 'fa-sort-asc'}}"></i></td>
                                            <td ng-click="orderByField2 = 'viaje';reverseSort2 = !reverseSort2" ><i class="fa {{(reverseSort2) ? 'fa-sort-desc' : 'fa-sort-asc'}}"></i></td>
                                            <td ng-click="orderByField2 = 'filter';reverseSort2 = !reverseSort2" ><i class="fa {{(reverseSort2) ? 'fa-sort-desc' : 'fa-sort-asc'}}"></i></td>
                                            <td ng-click="orderByField2 = 'cantidad';reverseSort2 = !reverseSort2" ><i class="fa {{(reverseSort2) ? 'fa-sort-desc' : 'fa-sort-asc'}}"></i></td>
                                            <td></td>
                                        </tr>
                                        <tr ng-repeat="(llave , valor) in table.details_campos|orderObjectBy:orderByField2:reverseSort2">
                                            <td width="15%" style="text-align: left;">{{valor}}</td>
                                            <td width="10%" ng-repeat="(indice, value) in table.defectos_travel">
                                                {{ 
                                                ( 
                                                    (table.defectos_details[getKey(table.merma , key)].hasOwnProperty(value.viaje) && table.defectos_details[getKey(table.merma , key)][value.viaje][valor].label) ? 
                                                    (table.defectos_details[getKey(table.merma , key)][value.viaje][valor].label  | number : 2 )
                                                    : "-" 
                                                ) }}
                                                <i ng-if="(table.defectos_details[getKey(table.defectos , key)].hasOwnProperty(value.viaje) 
                                                && table.defectos_details[getKey(table.defectos , key)][value.viaje][valor].indicador != 'empty')" 
                                                    class="fa {{ table.defectos_details[getKey(table.defectos , key)][value.viaje][valor].indicador }}"></i>
                                            </td>
                                            <td width="5%" ></td>
                                        </tr>
                                    </table>

                                    <div class="alert alert-danger" ng-if="tabla.lote.length == 0">
                                        <strong>Merma: </strong> No se ha encontrado información
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-settings"></i>PESO POR DAÑO POR DÍA</div>
                <div class="tools">
                    <a href="javascript:;" class="collapse" data-original-title="Expandir/Contraer" title=""> </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="portlet-body">
                    <h5>Peso : {{labelLbKg}}</h5>
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr style="cursor: pointer;">
                                <th width="10%" ng-click="orderByField = 'palanca';reverseSort = !reverseSort" style="text-align: left;padding-left: 15px !important;" class="nobmp-reporte-accordion" ng-if="calidad.params.categoria != 'LOTERO AEREO' && calidad.params.categoria != 'ENFUNDE'"> PALANCA </th>
                                <th width="10%" ng-click="orderByField = 'palanca';reverseSort = !reverseSort" style="text-align: left;padding-left: 15px !important;" class="nobmp-reporte-accordion" ng-if="calidad.params.categoria == 'LOTERO AEREO' || calidad.params.categoria == 'ENFUNDE'"> LOTE </th>
                                <th width="{{table.peso_widthCell}}" ng-click="orderByField = 'total_peso_merma';reverseSort = !reverseSort" class="nobmp-reporte-accordion"
                                    ng-repeat="(key, value) in numViajes"> 
                                    V {{ value }}
                                </th>
                                <th width="5%">&nbsp;</th>
                            </tr>
                        </thead>
                    </table>
                    <div class="panel-group accordion" id="accordion2" ng-repeat="(key , palanca) in pesos" style="margin-top: -10px; padding-top: -10px;">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion2" href="#tabla_collapse_peso{{$index}}" aria-expanded="false"> 
                                        <table class="table" class="nobmp-reporte-accordion" style="border: 0; padding: 0; margin: 0;">
                                            <thead class="nobmp-reporte-accordion">
                                                <tr class="nobmp-reporte-accordion">
                                                    <th width="10%" style="text-align: left;" class="nobmp-reporte-accordion"> {{ palanca.palanca }} </th>
                                                    <th width="{{table.peso_widthCell}}" class="nobmp-reporte-accordion"
                                                        ng-repeat="(key, value) in numViajes">
                                                        {{ palanca.viajes[key].peso > 0
                                                            ? palanca.viajes[key].peso
                                                            : '' }}
                                                        <i ng-if="palanca.viajes[key].peso > 0" class="{{ getUmbralPeso(palanca.viajes[key].peso) }}"></i>
                                                    </th>
                                                    <th width="5%" class="nobmp-reporte-accordion"> </th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </a>
                                </h4>
                            </div>
                            <div id="tabla_collapse_peso{{$index}}" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                <div class="panel-body">
                                    <table class="table">
                                        <tr style="cursor: pointer; display: none;" >
                                            <td ng-click="orderByField2 = 'palanca';reverseSort2 = !reverseSort2" ><i class="fa {{(reverseSort2) ? 'fa-sort-desc' : 'fa-sort-asc'}}"></i></td>
                                            <td ng-click="orderByField2 = 'viaje';reverseSort2 = !reverseSort2" ><i class="fa {{(reverseSort2) ? 'fa-sort-desc' : 'fa-sort-asc'}}"></i></td>
                                            <td ng-click="orderByField2 = 'filter';reverseSort2 = !reverseSort2" ><i class="fa {{(reverseSort2) ? 'fa-sort-desc' : 'fa-sort-asc'}}"></i></td>
                                            <td ng-click="orderByField2 = 'cantidad';reverseSort2 = !reverseSort2" ><i class="fa {{(reverseSort2) ? 'fa-sort-desc' : 'fa-sort-asc'}}"></i></td>
                                            <td></td>
                                        </tr>
                                        <tr ng-repeat="(llave , defecto) in palanca.defectos">
                                            <td width="10%" style="text-align: left;">{{ defecto.campo.replace("Peso " , "") }}</td>
                                            <td width="{{table.peso_widthCell}}" ng-repeat="(indice, value) in numViajes">
                                                {{ defecto.viajes[indice].cant > 0
                                                    ? (defecto.viajes[indice].cant | number)
                                                    : '--' }}
                                                <i ng-if="defecto.viajes[indice].cant > 0" class="{{ getUmbralPeso(defecto.viajes[indice].cant) }}"></i>
                                            </td>
                                            <td width="5%" ></td>
                                        </tr>
                                    </table>

                                    <div class="alert alert-danger" ng-if="pesos.length == 0">
                                        <strong>Merma: </strong> No se ha encontrado información
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-if="id_company == 7 && calidad.params.categoria == 'LOTERO AEREO'">
    <div class="col-md-12 col-sm-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-settings"></i>INFORMACION ADICIONAL</div>
                <div class="tools">
                    <!-- <a data-original-title="" ng-click="convertKg()" title="Cambiar KG/LB" style="color: white"> 
                        <i class="fa fa-balance-scale"></i>
                    </a> -->
                    <a href="javascript:;" class="collapse" data-original-title="Expandir/Contraer" title=""> </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="portlet-body">
                    <!-- <h5>Peso : {{labelLbKg}}</h5> -->
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr style="cursor: pointer;">
                                <th width="15%" ng-click="orderByField6 = 'palanca';reverseSort6 = !reverseSort6" style="text-align: left;padding-left: 15px !important;" class="nobmp-reporte-accordion" ng-if="calidad.params.categoria != 'LOTERO AEREO' && calidad.params.categoria != 'ENFUNDE'"> PALANCA </th>
                                <th width="15%" ng-click="orderByField6 = 'palanca';reverseSort6 = !reverseSort6" style="text-align: left;padding-left: 15px !important;" class="nobmp-reporte-accordion" ng-if="calidad.params.categoria == 'LOTERO AEREO' || calidad.params.categoria == 'ENFUNDE'"> LOTE </th>
                                <th width="10%" ng-click="orderByField6 = 'total_peso_merma';reverseSort6 = !reverseSort6" class="nobmp-reporte-accordion"
                                ng-repeat="(key, value) in table.adicional.maxTravel"> {{value.viaje}}</th>
                                <th width="5%">&nbsp;</th>
                            </tr>
                        </thead>
                    </table>
                    <div class="panel-group accordion" id="accordion8" ng-repeat="(key , tabla) in table.adicional.data|orderObjectBy:orderByField6:reverseSort6" style="margin-top: -10px; padding-top: -10px;">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion8" href="#tabla_collapse_adicional{{$index}}" aria-expanded="false"> 
                                        <table class="table" class="nobmp-reporte-accordion" style="border: 0; padding: 0; margin: 0;">
                                            <thead class="nobmp-reporte-accordion">
                                                <tr class="nobmp-reporte-accordion">
                                                    <th width="15%" style="text-align: left;" class="nobmp-reporte-accordion"> {{ getKey(table.adicional.data , key) }} </th>
                                                    <th width="10%" class="nobmp-reporte-accordion"
                                                    ng-repeat="(key, value) in table.adicional.maxTravel"
                                                    > 
                                                    {{ ((tabla.hasOwnProperty(value.viaje)) ? (tabla[value.viaje].promedio | number : 2 ) : "-" ) }}
                                                     <i ng-if="(tabla.hasOwnProperty(value.viaje) && tabla[value.viaje].indicador != 'empty')" 
                                                    class="fa {{ tabla[value.viaje].indicador }}"></i>

                                                    </th>
                                                    <th width="5%" class="nobmp-reporte-accordion"> </th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </a>
                                </h4>
                            </div>
                            <div id="tabla_collapse_adicional{{$index}}" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                <div class="panel-body">
                                    <table class="table">
                                        <tr style="cursor: pointer; display: none;" >
                                            <td ng-click="orderByField2 = 'palanca';reverseSort62 = !reverseSort2" ><i class="fa {{(reverseSort2) ? 'fa-sort-desc' : 'fa-sort-asc'}}"></i></td>
                                            <td ng-click="orderByField2 = 'viaje';reverseSort2 = !reverseSort2" ><i class="fa {{(reverseSort2) ? 'fa-sort-desc' : 'fa-sort-asc'}}"></i></td>
                                            <td ng-click="orderByField2 = 'filter';reverseSort2 = !reverseSort2" ><i class="fa {{(reverseSort2) ? 'fa-sort-desc' : 'fa-sort-asc'}}"></i></td>
                                            <td ng-click="orderByField2 = 'cantidad';reverseSort2 = !reverseSort2" ><i class="fa {{(reverseSort2) ? 'fa-sort-desc' : 'fa-sort-asc'}}"></i></td>
                                            <td></td>
                                        </tr>
                                        <tr ng-repeat="(llave , valor) in table.adicional.details_campos|orderObjectBy:orderByField2:reverseSort2">
                                            <td width="15%" style="text-align: left;">{{valor}}</td>
                                            <td width="10%" ng-repeat="(indice, value) in table.adicional.maxTravel">
                                                {{ 
                                                ( 
                                                    (table.adicional.details[getKey(table.adicional.data , key)].hasOwnProperty(value.viaje) 
                                                    && table.adicional.details[getKey(table.adicional.data , key)][value.viaje][valor].label > -1) ? 
                                                    (table.adicional.details[getKey(table.adicional.data , key)][value.viaje][valor].label  | number : 2 ) 
                                                    : "-" 
                                                ) }}
                                                <i ng-if="(table.adicional.details[getKey(table.adicional.data , key)].hasOwnProperty(value.viaje) 
                                                && table.adicional.details[getKey(table.adicional.data , key)][value.viaje][valor].indicador != 'empty')" 
                                                    class="fa {{ table.adicional.details[getKey(table.adicional.data , key)][value.viaje][valor].indicador }}"></i>
                                            </td>
                                            <td width="5%" ></td>
                                        </tr>
                                    </table>

                                    <div class="alert alert-danger" ng-if="tabla.lote.length == 0">
                                        <strong>Merma: </strong> No se ha encontrado información
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>