<style type="text/css">
    .nobmp-reporte-accordion{
        border: 0 !important;
        margin: 0 !important;
        padding: 0 !important;
    }
    table, td{
      text-align: center !important;
    }
    table, th{
      text-align: center !important;
    }
   
    .withCell > td {
        max-width: 130px !important;
        width: 130px !important;
        min-width: 130px !important;
        cursor: pointer;
    }

    #myImg {
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
    }

    #myImg:hover {opacity: 0.7;}

    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    }

    /* Modal Content (Image) */
    .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
    }

    /* Caption of Modal Image (Image Text) - Same Width as the Image */
    #caption {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: #ccc;
        padding: 10px 0;
        height: 150px;
    }

    /* Add Animation - Zoom in the Modal */
    .modal-content, #caption { 
        animation-name: zoom;
        animation-duration: 0.6s;
    }

    @keyframes zoom {
        from {transform:scale(0)} 
        to {transform:scale(1)}
    }

    /* The Close Button */
    .close {
        position: absolute;
        top: 70px;
        right: 35px;
        color: #f1f1f1 !important;
        font-size: 40px !important;
        font-weight: bold;
        transition: 0.3s;
        text-indent: 0;
    }

    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }

    /* 100% Image Width on Smaller Screens */
    @media only screen and (max-width: 700px){
        .close {
            top : 80px;
        }
        .modal-content {
            width: 100%;
            margin-top : 50px;
        }
    }
    
</style>

<div class="row">
    <div class="col-md-12" id="contentTableSubFinca" ng-show="calidad.params.idFinca > 0">
        <div class="portlet light portlet-fit ">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-green"></i>
                    <span class="caption-subject font-green bold uppercase">Inspección de Calidad</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-scrollable">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th ng-click="orderByField = 'id';reverseSort = !reverseSort">N</th>
                                <th ng-click="orderByField = 'peso';reverseSort = !reverseSort">Peso (Kg)</th>
                                <th ng-click="orderByField = 'num_cluster';reverseSort = !reverseSort"># Cluster</th>
                                <th ng-click="orderByField = 'num_dedos';reverseSort = !reverseSort"># Dedos</th>
                                <th ng-repeat="(key , value) in tittleDefectos">
                                    <a href="javascript:;" title data-original-title="{{value}}" style="text-decoration: none ;" tooltip>{{key}}</a> 
                                </th>
                                <th ng-click="orderByField = 'for_dedos';reverseSort = !reverseSort">Por Dedo</th>
                                <th ng-click="orderByField = 'for_cluster';reverseSort = !reverseSort">Por Cluster</th>
                                <th ng-click="orderByField = 'calidad_dedos';reverseSort = !reverseSort">Calidad Dedos</th>
                                <th ng-click="orderByField = 'calidad_cluster';reverseSort = !reverseSort">Calidad Cluster</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in muestras |orderObjectBy:orderByField:reverseSort">
                                <td>{{data.id}}</td>
                                <td>{{data.peso}}</td>
                                <td>{{data.num_cluster}}</td>
                                <td>{{data.num_dedos}}</td>
                                <th ng-repeat="(key , value) in tittleDefectos">
                                    {{data.defectos[key]}}
                                </td>
                                <td>{{data.for_dedos}}</td>
                                <td>{{data.for_cluster}}</td>
                                <td>{{data.calidad_dedos}}</td>
                                <td>{{data.calidad_cluster}}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td></td>
                                <td>{{totales.peso | number : 2}}</td>
                                <td>{{totales.num_cluster | number : 2}}</td>
                                <td>{{totales.num_dedos | number : 2}}</td>
                                <th ng-repeat="(key,value) in tittleDefectos">
                                    {{totales.defectos[key]}}
                                </td>
                                <td>{{totales.for_dedos | number : 2}}</td>
                                <td>{{totales.for_cluster | number : 2}}</td>
                                <td>{{totales.calidad_dedos | number : 2}}</td>
                                <td>{{totales.calidad_cluster | number : 2}}</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12" id="contentMain">
        <div class="portlet light portlet-fit ">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-green"></i>
                    <span id="spanLabel" class="caption-subject font-green bold uppercase" ng-init="filterPrincipalLabel = 'CALIDAD';">CALIDAD FINCAS</span>
                </div>
                <div class="actions">
                    <select class="input-sm" id="filterPrincipal" ng-init="filterPrincipal = 'calidad';" ng-model="filterPrincipal" ng-change="changePrincipal()">
                        <option value="calidad">Calidad</option>
                        <option value="desviacion">Desviación Estándar</option>
                        <option value="peso_caja">Peso Caja</option>
                        <option value="dedos">Dedos</option>
                        <option value="cluster">Clúster</option>
                    </select>
                </div>
            </div>
            <div class="portlet-body">
                <div id="principal" style="height:500px;"></div>
            </div>
        </div>
    </div>
    <div class="col-md-12" id="contentClusterCaja">
        <div class="portlet light portlet-fit ">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-green"></i>
                    <span class="caption-subject font-green bold uppercase">CATEGORIAS</span>
                </div>
            </div>
            <div class="portlet-body">
                <div id="clusterCajas" style="height:500px;"></div>
            </div>
        </div>
    </div>
    <div class="col-md-6" id="clusterContent">
        <div class="portlet light portlet-fit ">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-green"></i>
                    <span class="caption-subject font-green bold uppercase">CLUSTERS</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-scrollable">
                    <table class="table table-striped table-bordered table-hover">
                        <tr>
                            <th>Cluster</th>
                            <th>Promedio</th>
                            <th>%</th>
                        </tr>
                        <tbody>
                            <tr class="withCell"  ng-repeat-start="finca in clusters" ng-click="openDetalle(finca)" ng-init="finca.expand = true">
                                <td>{{finca.finca}}</td>
                                <td>{{finca.promedio  | number : 2}}</td>
                                <td></td>
                                <!--<td>{{finca.porcentaje | number : 2}}</td>-->
                            </tr>
                            <tr ng-repeat-end  ng-show="finca.expand">
                                <td colspan="3">
                                    <table class="table table-striped table-bordered table-hover">
                                        <tbody>
                                            <tr class="withCell" ng-repeat="subFincas in finca.details"> <!-- ng-click="openDetalle(subFincas)" -->
                                                <td>{{subFincas.cluster}}</td>
                                                <td>{{subFincas.promedio  | number : 2}}</td>
                                                <td>{{subFincas.porcentaje | number : 2}}</td>
                                            </tr>
                                            <!--<tr ng-repeat-end ng-show="subFincas.expand">
                                                <td colspan="3">
                                                    <table class="table table-striped table-bordered table-hover">
                                                        <tbody>
                                                            <tr class="withCell" ng-repeat="cluster in subFincas.details">
                                                                <td>{{cluster.cluster}}</td>
                                                                <td>{{cluster.promedio | number : 2}}</td>
                                                                <td>{{cluster.porcentaje | number : 2}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>-->
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6" id="dedosConten">
        <div class="portlet light portlet-fit ">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-green"></i>
                    <span class="caption-subject font-green bold uppercase">DEDOS</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-scrollable">
                    <table class="table table-striped table-bordered table-hover">
                        <tr>
                            <th>Dedos</th>
                            <th>Promedio</th>
                            <th>%</th>
                        </tr>
                        <tbody>
                            <tr class="withCell"  ng-repeat-start="finca in dedos" ng-click="finca.expand = !finca.expand" ng-init="finca.expand = true"> <!--  ng-click="openDetalle(finca)"-->
                                <td>{{finca.finca}}</td>
                                <td>{{finca.promedio  | number : 2}}</td>
                                <td>100</td>
                                <!--<td>{{finca.porcentaje | number : 2}}</td>-->
                            </tr>
                            <tr ng-repeat-end ng-show="finca.expand">
                                <td colspan="3">
                                    <table class="table table-striped table-bordered table-hover">
                                        <tbody>
                                            <tr class="withCell" ng-repeat="subFincas in finca.details"> <!-- ng-click="openDetalle(subFincas)" -->
                                                <td>{{subFincas.dedos}}</td>
                                                <td>{{subFincas.promedio  | number : 2}}</td>
                                                <td>{{subFincas.porcentaje | number : 2}}</td>
                                            </tr>
                                            <!--<tr ng-repeat-end ng-show="subFincas.expand">
                                                <td colspan="3">
                                                    <table class="table table-striped table-bordered table-hover">
                                                        <tbody>
                                                            <tr class="withCell" ng-repeat="dedos in subFincas.details">
                                                                <td>{{dedos.dedos}}</td>
                                                                <td>{{dedos.promedio  | number : 2}}</td>
                                                                <td>{{dedos.porcentaje | number : 2}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>-->
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12" id="contentDefectos">
        <div class="col-md-6 hide">
            <div class="portlet light portlet-fit ">
                <div class="portlet-title">
                    <div class="caption">
                        <i class=" icon-layers font-green"></i>
                        <span class="caption-subject font-green bold uppercase">Categorias</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div id="CategoriasDefectos" style="height:500px;"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="portlet light portlet-fit ">
                <div class="portlet-title">
                    <div class="caption">
                        <i class=" icon-layers font-green"></i>
                        <span class="caption-subject font-green bold uppercase">DEFECTOS</span>
                    </div>
                    <div class="actions">
                        <label for="" class="hide">
                            Categorias : 
                        </label>
                        <select onchange="cambiosCategoria()" name="categoria" id="categoria" style="margin: 2px;height: 36px;" class="hide">
                            <option ng-repeat="(key, value) in categoriasFilters" ng-selected="categoriaSelected == key" value="{{key}}">{{value}}</option>
                        </select>
                    </div>
                </div>
                <div class="portlet-body">
                    <div id="defectos" style="height:500px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="portlet box green" id="fotos">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i> FOTOS </div>
        <div class="tools">
        </div>
    </div>
    <div class="portlet-body">
        <div class="panel-group accordion" id="accordion1">
            <div class="panel panel-default" ng-repeat="row in fincas_fotos">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapse_1_{{row.id_finca}}" aria-expanded="false">
                            {{ row.finca }}
                            <span class="pull-right" style="margin-right : 10px;"><b>{{row.total_fotos}} Fotos</b></span>
                        </a>
                    </h4>
                </div>
                <div id="collapse_1_{{row.id_finca}}" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                    <div class="panel-body">
                        <!-- BEGIN SEGUNDO NIVEL -->
                        <div class="panel-group accordion" id="accordion2_{{row.id_finca}}_{{row2.semana}}" ng-repeat="row2 in row.semanas">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion2_{{row.id_finca}}_{{row2.semana}}" href="#collapse_2_{{row.id_finca}}_{{row2.semana}}" aria-expanded="false">
                                            SEM {{ row2.semana }}
                                            <span class="pull-right" style="margin-right : 10px;"><b>{{row2.total_fotos}} Fotos<b></span>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse_2_{{row.id_finca}}_{{row2.semana}}" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                    <div class="panel-body">
                                        <!-- BEGIN TERCER NIVEL -->
                                        <div class="panel-group accordion" id="accordion3_{{row.id_finca}}_{{row2.semana}}_{{row3.id_marca}}" ng-repeat="row3 in row2.marcas" ng-if="row3.fotos.length > 0">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion3_{{row.id_finca}}_{{row2.semana}}_{{row3.id_marca}}" href="#collapse_3_{{row.id_finca}}_{{row2.semana}}_{{row3.id_marca}}" aria-expanded="false">
                                                            {{ row3.marca }}
                                                            <span class="pull-right" style="margin-right : 10px;"><b>{{row3.fotos.length}} Fotos<b></span>
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapse_3_{{row.id_finca}}_{{row2.semana}}_{{row3.id_marca}}" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                                    <div class="panel-body">
                                                        <!-- BEGIN FOTOS -->
                                                        <div class="col-md-3" ng-repeat="foto in row3.fotos">
                                                            <div class="card">
                                                                <img src="{{ foto.path }}" alt="Imagen no disponible" style="width:100%; height: 170px;" ng-click="clickImage(foto.path, foto.calidad_cluster, foto.type)">
                                                                <div class="container">
                                                                    <h5><b>{{ foto.type }}</b></h5>
                                                                    <h5><b>Calidad : {{ foto.calidad_cluster }} %</b></h5>
                                                                    <p>{{ foto.fecha }}</p> 
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- END FOTOS -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END TERCER NIVEL -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END SEGUNDO NIVEL -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MODAL FOTOS -->
<div id="myModal" class="modal">
    <!-- The Close Button -->
    <span class="close">&times;</span>
    
    <!-- Modal Content (The Image) -->
    <img class="modal-content" id="img01">
    
    <!-- Modal Caption (Image Text) -->
    <div id="caption"></div>
</div>
<!-- MODAL FOTOS -->

<div class="portlet box green" id="fotos">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i> PESO PROM CLUSTER (g) </div>
        <div class="tools">
        </div>
    </div>
    <div class="portlet-body">
        <div id="peso_prom_cluster" style="height:500px;"></div>
        <div id="table-peso_prom_cluster"></div>
    </div>
</div>

<div class="portlet box green" id="fotos">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i> CALIDAD EMPAQUE </div>
        <div class="tools">
        </div>
    </div>
    <div class="portlet-body">
        <div id="empaque" style="height:500px;"></div>
    </div>
</div>