<!-- END DASHBOARD STATS 1-->
      <div class="row">
         <div class="col-md-12">
             <div class="portlet light portlet-fit ">
                 <div class="portlet-title">
                     <div class="caption">
                         <i class=" icon-layers font-green"></i>
                         <span class="caption-subject font-green bold uppercase">LOTES</span>
                     </div>
                    <div class="actions">
                        <div class="btn-group btn-group-devided" data-toggle="buttons">
                            <label class="btn red btn-outline btn-circle btn-sm active" ng-click="clearCache('mes')">
                            <input type="radio" name="options" class="toggle" id="option1">Mes</label>
                            <label class="btn red btn-outline btn-circle btn-sm" ng-click="clearCache('semana')">
                            <input type="radio" name="options" class="toggle" id="option2">Semana</label>
                             <label ng-hide="id_company == 3" class="btn red btn-outline btn-circle btn-sm" ng-click="clearCache('auditoria')">
                            <input type="radio" name="options" class="toggle" id="option2">Auditoria</label>
                        </div>
                    </div>
                 </div>
                 <div class="portlet-body">
                     <div id="echarts_bar" style="height:500px;"></div>
                 </div>
             </div>
         </div>
     </div> 
          <div class="row">
              <div class="col-md-6 col-sm-6">
                  <!-- BEGIN PORTLET-->
                  <div class="portlet light portlet-fit bordered" id="lotes_table">
                      <div class="portlet-title">
                          <div class="caption">
                              <span class="caption-subject font-dark sbold uppercase">
                                  <h3>
                                      FINCAS
                                  </h3>
                              </span>
                          </div>
                            <div class="actions" ng-show="id_company == 1">
                                <div class="btn-group btn-group-devided" data-toggle="buttons">
                                    <label class="btn blue btn-outline btn-circle btn-sm" ng-click="exportToPdf('#lotes_table')">
                                    <input type="radio" name="options" class="toggle" id="option1">PDF</label>
                                    <label class="btn red btn-outline btn-circle btn-sm" ng-click="exportToExcel('#lotes')">
                                    <input type="radio" name="options" class="toggle" id="option2">EXCEL</label>
                                     <label class="btn red btn-outline btn-circle btn-sm" ng-click="">
                                    <input type="radio" name="options" class="toggle" id="option2">Auditoria</label>
                                </div>
                            </div>
                      </div>
                      <div class="portlet-body">
                         <table class="table table-hover table-light" id="lotes" style="width: 100%;">
                             <tr>
                                 <td><a ng-click="orderByField = 'nombre';reverseSort = !reverseSort">FINCAS</a></td>
                                 <td><a ng-click="orderByField = 'calidad';reverseSort = !reverseSort">%</a></td>
                                 <td class="not-export"></td>
                             </tr>
                             <tr ng-repeat="data in wizardData.labores.lotes|orderObjectBy:orderByField:reverseSort">
                                    <td>{{ data.nombre}}</td>
                                    <td class="text-algin">{{ data.calidad = data.promedio}} <i class="{{ checks(data.calidad) }}"></i></td>
                                    <td class="text-algin"><button ng-click="changeStep(4 , data.idZona, data.idFinca , data.idLote , data.idLabor , data.idLabor , data.idZona , data.idFinca)" class="btn green-jungle">Causas</button></td>
                             </tr>
                         </table>
                      </div>
                  </div>
                  <!-- END PORTLET-->
              </div>
                <div class="col-md-6 col-sm-6">
                  <!-- BEGIN PORTLET-->
                  <div class="portlet light portlet-fit bordered">
                      <div class="portlet-title">
                          <div class="caption">
                              <span class="caption-subject font-dark sbold uppercase">
                                  <h3>
                                      CAUSAS
                                  </h3>
                              </span>
                          </div>
                      </div>
                      <div class="portlet-body">
                         <table class="table table-hover table-light">
                            <tr  class="text-algin">
                                <td><a ng-click="orderByField4= 'causa';reverseSort4 = !reverseSort4">CAUSAS</a></td>
                                <td ><a ng-click="orderByField4= 'causa';reverseSort4 = !reverseSort4">% 1</a></td>
                                <td><a ng-click="orderByField4= 'causa';reverseSort4 = !reverseSort4">% 2</a></td>
                            </tr>
                            <tbody>
                                <tr ng-repeat="data in wizardData.labores.causas|orderObjectBy:orderByField4:reverseSort4">
                                    <td>{{data.causa}}</td>
                                    <td class="text-algin">{{data.porcentaje | number : 2}}</span></td>
                                    <td class="text-algin">{{data.porcentaje2 | number : 2}}</td>
                                </tr>
                            </tbody>
                            <tfoot>
                              <tr>
                                <td>TOTAL</td>
                                <td class="text-algin"><span>{{getTotalsLabor(1) | number : 2}}</span></td>
                                <td class="text-algin">{{getTotalsLabor(2) | number : 2}}</td>
                              </tr>
                            </tfoot>
                         </table>
                      </div>
                  </div>
                  <!-- END PORTLET-->
              </div>
          </div>
          <div class="row">
             <div class="col-md-12 col-sm-12">
               <div class="portlet light portlet-fit bordered">
                      <div class="portlet-title">
                          <div class="caption">
                              <span class="caption-subject font-dark sbold uppercase">
                                  <h3>
                                     LOTES
                                  </h3>
                              </span>
                          </div>
                      </div>
                      <div class="portlet-body">
                          <div id="echarts_lote_labores" style="height:300px;"></div>
                      </div>
                  </div>
             </div>
            </div>
            <div class="row">
               <div class="col-md-12 col-sm-12">
                  <!-- BEGIN PORTLET-->
                  <div class="portlet light portlet-fit bordered">
                      <div class="portlet-title">
                          <div class="caption">
                              <span class="caption-subject font-dark sbold uppercase">
                                  <h3>
                                     CAUSAS
                                  </h3>
                              </span>
                          </div>
                      </div>
                      <div class="portlet-body">
                          <div id="echarts_causas_labores" style="height:300px;"></div>
                      </div>
                  </div>
                  <!-- END PORTLET-->
              </div>
          </div>
          <!-- END DASHBOARD STATS 1-->
          <!-- BEGIN INTERACTIVE CHART PORTLET-->
          <div class="row" style="display:none">
              <div class="col-md-6 col-sm-6">
                  <div class="portlet light portlet-fit bordered">
                      <div class="portlet-title">
                          <div class="caption">
                              <span class="caption-subject font-dark sbold uppercase">
                                  <h3>
                                     ADMINISTRADORES
                                  </h3>
                              </span>
                          </div>
                      </div>
                      <div class="portlet-body">
                          <div id="echarts_bar_supervisor" style="height:300px;"></div>
                      </div>
                  </div>
              </div>
          </div>