     <style>
        .text-algin{
            text-align: center;
        }
    </style>    
         <!-- END DASHBOARD STATS 1-->
      <div class="row">
         <div class="col-md-12">
             <div class="portlet light portlet-fit ">
                 <div class="portlet-title">
                     <div class="caption">
                         <i class=" icon-layers font-green"></i>
                         <span class="caption-subject font-green bold uppercase">Lote {{tittles.lote}}</span>
                     </div>
                    <div class="actions">
                        <div class="btn-group btn-group-devided" data-toggle="buttons">
                            <label class="btn red btn-outline btn-circle btn-sm active" ng-click="initGrafica('echarts_bar', wizardData.main)">
                            <input type="radio" name="options" class="toggle" id="option1">Mes</label>
                            <label class="btn red btn-outline btn-circle btn-sm" ng-click="initGrafica('echarts_bar', wizardData.week)">
                            <input type="radio" name="options" class="toggle" id="option2">Semana</label>
                            <label ng-hide="id_company == 3" class="btn red btn-outline btn-circle btn-sm" ng-click="clearCache('auditoria')">
                            <input type="radio" name="options" class="toggle" id="option2">Auditoria</label>
                        </div>
                    </div>
                 </div>
                 <div class="portlet-body">
                     <div id="echarts_bar" style="height:500px;"></div>
                 </div>
             </div>
         </div>
     </div> 
          <div class="row">
              <div class="col-md-6 col-sm-6">
                  <!-- BEGIN PORTLET-->
                  <div class="portlet light portlet-fit bordered">
                      <div class="portlet-title">
                          <div class="caption">
                              <span class="caption-subject font-dark sbold uppercase">
                                  <h3>
                                      LABORES 
                                  </h3>
                              </span>
                          </div>
                      </div>
                      <div class="portlet-body">
                        <div class="panel-group accordion" id="accordion1">
                            <div class="panel panel-default" ng-repeat="(llave , valor) in wizardData.data.lote.labores">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#collapse_{{$index}}" href="#collapse_{{$index}}" aria-expanded="{{($index == 0)?true:false}}"> {{llave}} - {{wizardData.personal_type_labor[llave]}} <span ng-hide="id_company == 7" style="float: right;" class="pull-rigth">{{getAvgTotalsStep2(valor)}} % <i class="{{ checks(getAvgTotals(valor)) }}"></i></span></a>
                                    </h4>
                                </div>
                                <div id="collapse_{{$index}}" class="panel-collapse {{($index == 0)?'in':'collapsed collapse'}}" aria-expanded="{{($index == 0)?true:false}}">
                                    <div class="panel-body">
                                        <table class="table table-hover table-light">
                                             <tr class="text-algin">
                                                 <td><a ng-click="orderByField3 = 'labor';reverseSort3 = !reverseSort3">LABOR</a></td>
                                                 <td><a ng-click="orderByField3 = 'promedio';reverseSort3 = !reverseSort3">%</a></td>
                                                 <td></td>
                                                 <td></td>
                                             </tr>
                                             <tr ng-repeat="(key , value) in valor|orderObjectBy2:orderByField3:reverseSort3">
                                                    <td>{{ value.labor }}</td>
                                                    <td class="text-algin">{{ value.promedio | number : 2}} <i class="{{ checks(value.promedio) }}"></i></td>
                                                    <td></td>
                                                    <td class="text-algin"><button ng-click="changeStep(4 , value.idZona, value.idFinca , value.idLote, value.idLabor)" class="btn green-jungle">Causas</button></td>
                                                    
                                              </tr>
                                         </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>
                  </div>
                  <!-- END PORTLET-->
              </div>
               <div class="col-md-6 col-sm-6">
                  <!-- BEGIN PORTLET-->
                  <div class="portlet light portlet-fit bordered">
                      <div class="portlet-title">
                          <div class="caption">
                              <span class="caption-subject font-dark sbold uppercase">
                                  <h3>
                                     LABORES - LOTE 
                                  </h3>
                              </span>
                          </div>
                      </div>
                      <div class="portlet-body">
                          <div id="echarts_bar_labores_lotes" style="height:300px;"></div>
                      </div>
                  </div>
                  <!-- END PORTLET-->
              </div>
          </div>
          <!-- END DASHBOARD STATS 1-->
          <div class="row" ng-show="id_company != 7">
              <div class="col-md-12 col-sm-12">
                  <div class="portlet light portlet-fit bordered">
                      <div class="portlet-title">
                          <div class="caption">
                              <span class="caption-subject font-dark sbold uppercase">
                                  <h3>
                                     JEFE DE CAMPO
                                  </h3>
                              </span>
                          </div>
                      </div>
                      <div class="portlet-body">
                          <div id="echarts_bar_operador" style="height:300px;"></div>
                      </div>
                  </div>
              </div>
          </div>